include(../lib/html/optinomic/page/start.m4)
<div class="grid-border-top" style="margin-top: 30px;" ng-repeat="sr in d.dataMain.survey_responses">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
        <div flex>
            <h3 class="md-headline">{{sr.bdi.zeipunkt_text}}</h3>
        </div>
        <div>
            <h3 class="md-subhead">{{sr.bdi.zeipunkt_datum | date}}</h3>
        </div>
    </div>
    <div ng-if="sr.bdi.score !== null" layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
        <div flex="20" layout-gt-xs="row" layout-xs="column" layout-align="space-between start">
            <p flex class="md-body-1" style="text-align: right">Kein Verdacht auf eine Depression</p>
        </div>
        <div flex>
            <score-threshold score="sr.bdi.score" min="0" max="63" show-percent-scale="true" scale-ranges="scale_ranges" show-min-max="true"></score-threshold>
        </div>
        <div flex="20" layout-gt-xs="row" layout-xs="column" layout-align="space-between start">
            <p flex class="md-body-1" style="text-align: left">Verdacht auf eine schwere Depression</p>
        </div>
    </div>
    <div layout="row" layout-gt-xs="row" layout-align="start end">
        <div flex ng-if="sr.bdi.score !== null">
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                <div flex>
                    <h5 class="md-subhead">
                    Interpretation ({{sr.bdi.interpretation.from}} bis {{sr.bdi.interpretation.to}} Punkte):
                    </h5>
                    <p class="md-display-1" ng-attr-style="color:{{sr.bdi.interpretation.result_color}}">{{sr.bdi.interpretation.interpretation_de}}</p>
                </div>
                <div>
                    <md-button ng-if="!d.show_answers" class="md-primary" aria-label="Antworten anzeigen" ng-click="setAnswerFilter(true, $index)">
                        Antworten anzeigen
                    </md-button>
                </div>
            </div>
        </div>
        <div flex ng-if="sr.bdi.score === null">
            <h5 class="md-subhead">Keine Interpretation möglich</h5>
            <p class="md-caption">Kein BDI-Score vorhanden.</p>
        </div>
    </div>
    <div ng-if="d.show_answers" layout-margin>
        <div layout="row" layout-gt-xs="row" layout-align="space-between center">
            <div>
                <h5 class="md-subhead">Antworten: {{d.dataMain.apps.current.name}}</h5>
            </div>
            <div>
                <md-button ng-if="d.show_answers" class="md-accent" aria-label="Antworten ausblenden" ng-click="d.show_answers = false">
                    Antworten ausblenden
                </md-button>
            </div>
        </div>
        <md-input-container>
            <label>Filter</label>
            <md-select md-on-close="setAnswerFilter(true, $index)" ng-model="d.show_answers_filter">
                <md-option ng-repeat="filter in d.show_answers_filters" value="{{filter.value}}">
                    {{filter.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <div>&nbsp;</div>
        <div ng-repeat="(key, question) in d.bdi_fragen" ng-repeat=" in dataset">
            <p class="md-caption" ng-if="sr.calculations['0'].calculation_result.response.data.response['BDI_filter_' + (key+1)]">
                <strong>{{question.name}}: </strong>
                <span ng-repeat="answer in question.answers">
                    <span ng-if="answer.code === sr.calculations['0'].calculation_result.response.data.response['BDI'+(key+1)]">{{answer.item}}. <small style="color:#9E9E9E"> ({{answer.code}})</small></span>
                </span>
            </p>
        </div>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
