include(../lib/html/optinomic/page/start.m4)
<div class="grid-border-top" style="margin-top: 30px;" ng-repeat="sr in d.dataMain.survey_responses">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
        <div flex>
            <h3 class="md-headline">{{sr.bdi.zeipunkt_text}}</h3>
        </div>
        <div>
            <h3 class="md-caption">{{sr.bdi.zeipunkt_datum}}</h3>
        </div>
    </div>
    <div ng-if="sr.bdi.score !== null" layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
        <div flex="20" layout-gt-xs="row" layout-xs="column" layout-align="space-between start">
            <p flex class="md-body-2" style="text-align: right">Kein Verdacht auf eine Depression</p>
        </div>
        <div flex>
            <score-threshold score="sr.bdi.score" min="0" max="63" show-percent-scale="true" scale-ranges="scale_ranges" show-min-max="true"></score-threshold>
        </div>
        <div flex="20" layout-gt-xs="row" layout-xs="column" layout-align="space-between start">
            <p flex class="md-body-2" style="text-align: left">Verdacht auf eine schwere Depression</p>
        </div>
    </div>
    <div layout="row" layout-gt-xs="row" layout-align="start start">
        <div flex ng-if="sr.bdi.score !== null">
            <h5 class="md-subhead">
            Interpretation ({{sr.bdi.interpretation.from}} bis {{sr.bdi.interpretation.to}} Punkte):
            </h5>
            <p class="md-display-1" ng-attr-style="color:{{sr.bdi.interpretation.result_color}}">{{sr.bdi.interpretation.interpretation_de}}</p>
        </div>
        <div flex ng-if="sr.bdi.score === null">
            <h5 class="md-subhead">Keine Interpretation möglich</h5>
            <p class="md-caption">Kein BDI-Score vorhanden.</p>
        </div>
    </div>
    <div layout="row" layout-gt-xs="row" layout-align="start start">
        <md-button ng-if="!d.show_answers" class="md-primary" aria-label="Antworten anzeigen" ng-click="setAnswerFilter(true)">
            Antworten anzeigen
        </md-button>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
