__opapp_include(../lib/html/optinomic/page/start.m4)
<div ng-repeat="score in d.group_scores" class="grid-border-bottom">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
        <div flex>
            <h3 class="md-headline">{{score.question}}</h3>
            <p class="md-subhead">{{score.full}}</p>
            <div>
                <div layout="row" layout-gt-xs="row" layout-xs="column" layout-align="start center">
                    <div flex="30" style="text-align: right !important">
                        <p class="md-caption" style="color:#9E9E9E">%
                            <br>Stanine
                        </p>
                    </div>
                    <div flex="40" style="text-align:center !important;padding-left:6px;padding-right:6px;">
                        <div layout="row" layout-gt-xs="row" layout-xs="row" layout-align="space-between center">
                            <div flex ng-repeat="r in d.stanine_ranges">
                                <p class="md-caption" style="color:#3F51B5"><small style="color:#9E9E9E">{{r.procent}}</small>
                                    <br>{{r.stanine}}</p>
                            </div>
                        </div>
                    </div>
                    <div flex="30">
                        <p class="md-caption" style="color:#9E9E9E">%
                            <br>Stanine</p>
                    </div>
                </div>
                <div layout="row" layout-gt-xs="row" layout-xs="column" layout-align="start center" ng-repeat="data in score.data">
                    <div flex="30">
                        <p class="md-body-1"><span class="md-body-2">{{data.label}}</span> <br> {{score.sub_left}}</p>
                    </div>
                    <div flex="40">
                        <score-threshold score="data.stanine" min="1" max="9" scale-ranges="d.scale_ranges" show-percent-scale="true" show-min-max="false" show-bottom-bar="false"></score-threshold>
                    </div>
                    <div flex="30">
                        <p class="md-body-1"> {{score.sub_right}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px;">&nbsp;</div>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
