include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Stanine-Chart</h3>
<div ng-repeat="data in stanine.data" style="margin-top: 21px;">
    <div ng-repeat="score in data.scores" style="margin-top: 21px;">
        <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
            <div flex="25">
                <p class="md-body-2">{{score.question}} </p>
                <p class="md-body-1">{{score.sub_left}} </p>
            </div>
            <div flex>
                <score-threshold score="score.stanine" min="0" max="10" show-percent-scale="true" scale-ranges="d.scale_ranges" show-min-max="false"></score-threshold>
            </div>
            <div flex="25">
                <p class="md-body-2">{{score.question}}</p>
                <p class="md-body-1">{{score.sub_right}} | {{score.auspraegung}}</p>
            </div>
        </div>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
