include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Stanine-Chart</h3>
<chart-stanine data="stanine.data" options="stanine.options"> </chart-stanine>
<h3 class="md-headline">Legende und Interpretation</h3>
<div ng-repeat="score in stanine.data[0].scores" style="margin-top: 14px;">
    <h4 class="md-subhead">{{score.question}}</h4>
    <p class="md-caption">{{score.full}}</p>
    <p class="flow-text">{{score.interpretation}} <small>(Ausprägung: {{score.auspraegung}})</small></p>
</div>
include(../lib/html/optinomic/page/end.m4)
