 include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Auswertung</h3>
<div class="grid-border-top" style="margin-top: 30px;" ng-repeat="response in d.dataMain.survey_responses">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
        <div flex>
            <h3 class="md-headline">{{response.entity.data.filled | date}}</h3>
        </div>
    </div>
    <score-threshold score="response.calculations[0].calculation_result.score.score" min="0" max="6" scale-ranges="scale_ranges"></score-threshold>
    <h4>Bei <b>{{response.calculations["0"].calculation_result.score.score}}</b> der 6 Screeningfragen lag der Wert von {{d.dataMain.patient.patient.data.first_name}} {{d.dataMain.patient.patient.data.last_name}} im auffälligen Bereich ({{response.calculations["0"].calculation_result.score.sum}} von 24 Punkte):</h4>
    <h4>{{response.calculations["0"].calculation_result.score.current_range.interpretation}}</h4>
    <div style="margin-top: 48px;">
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
            <p>ASRS_1 = {{response.entity.data.response.ASRS_1}}</p>
            <p>ASRS_2 = {{response.entity.data.response.ASRS_2}}</p>
            <p>ASRS_3 = {{response.entity.data.response.ASRS_3}}</p>
            <p>ASRS_4 = {{response.entity.data.response.ASRS_4}}</p>
            <p>ASRS_5 = {{response.entity.data.response.ASRS_5}}</p>
            <p>ASRS_6 = {{response.entity.data.response.ASRS_6}}</p>
        </div>
        <div>
            <p>SCORE = {{response.calculations["0"].calculation_result.score.score}}</p>
            <p>SUMME = {{response.calculations["0"].calculation_result.score.sum}}</p>
            <p>Interpretation = {{response.calculations["0"].calculation_result.score.current_range.interpretation}}</p>
        </div>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
