__opapp_include(../lib/html/optinomic/page/start.m4)
<div>
    <h3 class="md-headline">Patienten-Assessment</h3>
    <div>
        <p class="md-body-1"><span class="md-body-2">Patientengruppe wählen:</span> Bitte selektieren Sie die gewünschte Patientengruppe:</p>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Patientengruppe</label>
            <md-select ng-model="d.app.selected_group">
                <md-option ng-repeat="gruppe in d.dataMain.patient_groups" ng-value="gruppe">
                    {{gruppe.data.name}} ({{gruppe.patients.length}} Patienten)
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-if="d.app.selected_group !== null">
        <div class="grid-border-top" layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
            <div flex>
                <h3 class="md-headline">Einladungen für «{{d.app.selected_group.data.name}}»</h3>
                <p class="md-body-1"><span class="md-body-2">Drucken:</span> Zugangsdaten und Beschreibung.</p>
            </div>
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
                <md-button ng-click="pdf_open(doc)">öffnen</md-button>
                <md-button ng-click="pdf_download(doc)">speichern</md-button>
            </div>
        </div>
    </div>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
