<div ng-app="optinomicApp" ng-controller="MainCtrl" ng-cloak>
    <div ng-controller="AppCtrl">
        <div ng-if="!init">
            include(../lib/html/optinomic/templates/loading.html)
        </div>
        <div ng-if="init">
            <div ng-if="d.haveData">
                <!-- 

					Attention:
					Create a copy of 'main' for every 'template' an change the following 'partials' include:

                -->
                include(templates/partials/info.html)
            </div>
            <div ng-if="!d.haveData">
                include(../lib/html/optinomic/templates/no_data.html)
            </div>
        </div>
    </div>
</div>
include(../lib/js/set/angular_material.html)
