<div ng-app="optinomicApp" ng-controller="MainCtrl" ng-cloak>
    <div ng-controller="AppCtrl">
        <div ng-if="!init">
            include(../lib/html/optinomic/templates/loading.html)
        </div>
        <div ng-if="init">
            <div ng-if="d.dataMain.survey_responses">
                <div>
                    <h1 class="md-display-1">{{d.dataMain.apps.current.name}}</h1>
                    <p class="flow-text">{{d.dataMain.apps.current.short_description}}</p>
                </div>
                <div layout="row">
                    <div flex>
                        <h3 class="md-headline">Subtitle</h3>
                        <p class="md-caption">Caption:</p>
                        <md-button ng-click="haveData = !haveData" class="md-raised md-primary no-print">Button {{haveData}}</md-button>
                    </div>
                    <div flex>
                        <p class="md-body-2">Body copy with
                            <mark>medium</mark> weight.</p>
                        <p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
                        <span class="md-caption">Caption</span>
                        <p class="craving">Local style loded</p>
                    </div>
                </div>
            </div>
            <div ng-if="!d.dataMain.survey_responses">
                <p>no data</p>
                include(../lib/html/optinomic/templates/no_data.html)
            </div>
        </div>
    </div>
</div>
