<div ng-app="optinomicApp" ng-controller="AppCtrl" ng-cloak>
    <div>
        <h1 class="md-display-1">{{app.title}}</h1>
        <p class="flow-text">{{app.subtitle}}</p>
    </div>
    <div layout="row">
        <div flex>
            <h3 class="md-headline">Subtitle for {{app.title}}</h3>
            <p class="md-caption">Caption:</p>
            <md-button class="md-raised md-primary no-print">Button</md-button>
        </div>
        <div flex>
            <p class="md-body-2">Body copy with
                <mark>medium</mark> weight.</p>
            <p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
            <span class="md-caption">Caption</span>
            <p class="craving">Local style loded</p>
        </div>
    </div>
</div>
