<div>
    <h1>Craving</h1>
    <p class="flow-text">This is show_craving.html</p>
    <md-button class="md-raised md-primary">Primary</md-button>
    <p class="craving">big red.</p>
</div>
<div layout="row" layout-margin layout-fill layout-padding>
    <div flex>
        <h1 class="md-display-3">Headline</h1>
        <h2 class="md-display-1">Headline</h2>
        <h3 class="md-headline">Headline</h3>
    </div>
    <div flex>
        <p class="md-body-2">Body copy with medium weight.</p>
        <md-button>Button</md-button>
        <p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
        <span class="md-caption">Caption</span>
    </div>
</div>
