<md-content layout-padding ng-app="optinomicApp" ng-controller="AppCtrl">
    <div>
        <h2 class="md-display-1">Headline</h2>
        <p class="flow-text">Some Text</p>
    </div>
    <div layout="row">
        <div flex>
            <h1 class="md-display-3">Headline</h1>
            <h3 class="md-headline">Headline</h3>
        </div>
        <div flex>
            <p class="md-body-2">Body copy with
                <mark>medium</mark> weight.</p>
            <md-button>Button</md-button>
            <p class="md-body-1">Regular body copy <small class="md-caption">with small text</small>.</p>
            <span class="md-caption">Caption</span>
            <button type="button" class="btn btn-primary">Bootstrap Primary</button>
            <p class="craving">local style loded</p>
        </div>
    </div>
</md-content>
