include(../lib/html/optinomic/page/start.m4)
<!--
Anzeige von allen Faktoren, die mit ja (=2!; 1 = nein) beantwortet wurden:
- Eintritt: d.dataMain.calculations[0].calculation_results.response.data.response.NeuroAnamEin_SQ001-SQ011 + SQ013 + Bemerkungen
- Austritt: NeuroAnamAus_SQ001-3 +SQ006-12 + BemerkungenAus

- Falls Daten vorhanden = true
- Falls Wert = 2

Folgende Hinweise sollten für die Beurteilung des TMT beachtet werden:

NeuroAnamEin[SQ001] / NeuroAnamEin_SQ001 - Es bestanden zum Zeitpunkt der Durchführung schwere auditive, visuelle oder sprachliche Defizite, welche die Durchführung der Testung behindern.
NeuroAnamEin[SQ002] / NeuroAnamEin_SQ002- Es bestanden zum Zeitpunkt der Durchführung motorische Defizite, die zur Alltagsbehinderung führen (Parese, essentieller Tremor, Dyskinesie, etc.).
NeuroAnamEin[SQ003] / NeuroAnamEin_SQ013 - Es bestanden zum Zeitpunkt der Durchführung andauernde leichte oder schwere Kopfschmerzen.
NeuroAnamEin[SQ004] / NeuroAnamEin_SQ003 - Eine ZNS-Erkrankung (z.B. Enzephalitis, Meningitis, MS, Parkinson, etc.) lag zum Zeitpunkt der Durchführung / kam in der Vergangenheit vor.
NeuroAnamEin[SQ005] / NeuroAnamEin_SQ004 - Ein epileptischer Anfall kam mindestens einmal während eines Entzugs vor.
NeuroAnamEin[SQ006] / NeuroAnamEin_SQ005 - Ein epileptischer Anfall kam mindestens einmal vor, jedoch nicht im Zusammenhang mit einem Entzug.
NeuroAnamEin[SQ007] / NeuroAnamEin_SQ006 - Es bestand bereits eine Kopfverletzung mit Bewusstlosigkeit, die länger als 5 Minuten dauerte.
NeuroAnamEin[SQ008] / NeuroAnamEin_SQ007 - Es wurde mindestens einmal ein chirurgischer Eingriff am Gehirn durchgeführt.
NeuroAnamEin[SQ009] / NeuroAnamEin_SQ008 - In den letzten 3 Monaten vor der Erhebung wurde eine Totalanästhesie durchgeführt.
NeuroAnamEin[SQ010] / NeuroAnamEin_SQ009 - Es lag eine insulinpflichtige Diabetes vor.
NeuroAnamEin[SQ011] / NeuroAnamEin_SQ010 - Es bestand bereits eine Vergiftung mit Substanzen, die toxisch auf das ZNS wirken (z.B. Butan, etc.).
NeuroAnamEin[SQ012] / NeuroAnamEin_SQ011 - Es bestanden zerebro-vaskuläre Krankheiten (z.B. transiente ischämische Attacke („Streifung“); Hirnschlag) zum Zeitpunkt der Durchführung oder diese kamen früher vor.

NeuroAnamAus[SQ001] / NeuroAnamAus_SQ001 - Es bestanden zum Zeitpunkt der Durchführung schwere auditive, visuelle oder sprachliche Defizite, welche die Durchführung der Testung behindern.
NeuroAnamAus[SQ002] / NeuroAnamAus_SQ002 - Es bestanden zum Zeitpunkt der Durchführung motorische Defizite, die zur Alltagsbehinderung führen (Parese, essentieller Tremor, Dyskinesie, etc.).
NeuroAnamAus[SQ003] / NeuroAnamAus_SQ003 - Es bestanden zum Zeitpunkt der Durchführung andauernde leichte oder starke Kopfschmerzen.
NeuroAnamAus[SQ007] / NeuroAnamAus_SQ006 - Während des Aufenthaltes ereignete sich eine Kopfverletzung mit Bewusstlosigkeit, die länger als 5 Minuten dauerte.
NeuroAnamAus[SQ008] / NeuroAnamAus_SQ007 - Während des Aufenthaltes wurde ein chirurgischer Eingriff am Gehirn durchgeführt.
NeuroAnamAus[SQ009] / NeuroAnamAus_SQ008 - In den letzten 3 Monaten vor der Erhebung wurde eine Totalanästhesie durchgeführt.
NeuroAnamAus[SQ010] / NeuroAnamAus_SQ009 - Eine insulinpflichtige Diabetes liegt vor.
NeuroAnamAus[SQ011] / NeuroAnamAus_SQ010 - Es bestand bereits eine Vergiftung mit Substanzen, die toxisch auf das ZNS wirken (z.B. Butan, etc.).
NeuroAnamAus[SQ012] / NeuroAnamAus_SQ011 - Es bestanden zerebro-vaskuläre Krankheiten (z.B. transiente ischämische Attacke („Streifung“); Hirnschlag) oder diese kamen früher vor.
NeuroAnamAus[SQ013] / NeuroAnamAus_SQ012 - Es liegt eine schwere somatische oder psychische Erkrankungen vor oder während des Aufenthaltes geschah ein Unfall.
falls ja: Erkrankung

item {
    variable: NeuroAnamEin[SQ001];
    aussage: "Es bestanden zum Zeitpunkt der Durchführung schwere auditive, visuelle oder sprachliche Defizite, welche die Durchführung der Testung behindern.";
},{
    variable: NeuroAnamEin[SQ002];
    aussage: "Es bestanden zum Zeitpunkt der Durchführung motorische Defizite, die zur Alltagsbehinderung führen (Parese, essentieller Tremor, Dyskinesie, etc.).";
},{
    etc.
}


NORA: 
-->
<div>
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
<!--            <p>&nbsp;</p>
            <h3 ng-if="resp.entity.data.response.Erhebungszeitpunkt === '1'" class="md-subhead">Eintritt</h3>
            <h3 ng-if="resp.entity.data.response.Erhebungszeitpunkt !== '1'" class="md-subhead">Austritt</h3>
            <p>&nbsp;</p>
            <h5 class="md-subhead"> Folgende Hinweise sollten für die Beurteilung des TMT vom {{Datum d. Erfassung}} beachtet werden: </h5>
                <div ng-repeat="für alle Fragen vom Block NeuroAnamEin resp. NeuroAnamAus">
                    <div ng-if="item.variable='1'">
                        <p>{{item.aussage}}</p>
                    </div>                    
                </div>
                <div ng-if="falls items == '0'">
                    <p> Es sind keine neurologischen Auffälligkeiten vorhanden.
                </div>

BEAT:
-->
            <div ng-repeat="resp in d.dataMain.survey_responses">
                    <div ng-if="resp.entity.data.response.Erhebungszeitpunkt === '1'" class="md-subhead">
                        <div ng-if="resp.calculations[0].calculation_result.items == '12'">
                            <h4>Bei <b>Eintritt</b> (Messung am {{resp.entity.data.filled | date}}) waren keine neurologischen Auffälligkeiten vorhanden.</h4>
                        </div>
                        <div ng-if="resp.calculations[0].calculation_result.items != '12'">
                            <h4>Für die <b>Eintrittsmessung</b> vom {{resp.entity.data.filled | date}} sollten folgende Hinweise beachtet werden: </h4>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ001 == '2' || resp.entity.data.response.NeuroAnamEin[SQ001] =='2'">
                                    <p>Es bestanden zum Zeitpunkt der Durchführung schwere auditive, visuelle oder sprachliche Defizite, welche die Durchführung der Testung behindern.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ002 == '2' || resp.entity.data.response.NeuroAnamEin[SQ002] =='2'">
                                    <p>Es bestanden zum Zeitpunkt der Durchführung motorische Defizite, die zur Alltagsbehinderung führen (Parese, essentieller Tremor, Dyskinesie, etc.).</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ013 == '2' || resp.entity.data.response.NeuroAnamEin[SQ003] =='2'">
                                    <p>Es bestanden zum Zeitpunkt der Durchführung andauernde leichte oder schwere Kopfschmerzen.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ003 == '2' || resp.entity.data.response.NeuroAnamEin[SQ004] =='2'">
                                    <p>Eine ZNS-Erkrankung (z.B. Enzephalitis, Meningitis, MS, Parkinson, etc.) lag zum Zeitpunkt der Durchführung / kam in der Vergangenheit vor.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ004 == '2' || resp.entity.data.response.NeuroAnamEin[SQ005] =='2'">
                                    <p>Ein epileptischer Anfall kam mindestens einmal während eines Entzugs vor.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ005 == '2' || resp.entity.data.response.NeuroAnamEin[SQ006] =='2'">
                                    <p>Ein epileptischer Anfall kam mindestens einmal vor, jedoch nicht im Zusammenhang mit einem Entzug.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ006 == '2' || resp.entity.data.response.NeuroAnamEin[SQ007] =='2'">
                                    <p>Es bestand bereits eine Kopfverletzung mit Bewusstlosigkeit, die länger als 5 Minuten dauerte.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ007 == '2' || resp.entity.data.response.NeuroAnamEin[SQ008] =='2'">
                                    <p>Es wurde mindestens einmal ein chirurgischer Eingriff am Gehirn durchgeführt.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ008 == '2' || resp.entity.data.response.NeuroAnamEin[SQ009] =='2'">
                                    <p>In den letzten 3 Monaten vor der Erhebung wurde eine Totalanästhesie durchgeführt.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ009 == '2' || resp.entity.data.response.NeuroAnamEin[SQ010] =='2'">
                                    <p>Es lag eine insulinpflichtige Diabetes vor.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ010 == '2' || resp.entity.data.response.NeuroAnamEin[SQ011] =='2'">
                                    <p>Es bestand bereits eine Vergiftung mit Substanzen, die toxisch auf das ZNS wirken (z.B. Butan, etc.).</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamEin_SQ011 == '2' || resp.entity.data.response.NeuroAnamEin[SQ012] =='2'">
                                    <p>Es bestanden zerebro-vaskuläre Krankheiten (z.B. transiente ischämische Attacke („Streifung“); Hirnschlag) zum Zeitpunkt der Durchführung oder diese kamen früher vor.</p>
                                </div>
                        </div>
                    </div>
                    <div ng-if="resp.entity.data.response.Erhebungszeitpunkt === '2'" class="md-subhead">
                        <div ng-if="resp.calculations[0].calculation_result.items == '10'">
                            <h4>Bei <b>Austritt</b> (Messung am {{resp.entity.data.filled | date}}) waren keine neurologischen Auffälligkeiten vorhanden.</h4>
                        </div>
                        <div ng-if="resp.calculations[0].calculation_result.items != '10'">
                            <h4>Für die <b>Austrittsmessung</b> vom {{resp.entity.data.filled | date}} sollten folgende Hinweise beachtet werden: </h4>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ001 == '2' || resp.entity.data.response.NeuroAnamAus[SQ001] =='2'">
                                    <p>Es bestanden zum Zeitpunkt der Durchführung schwere auditive, visuelle oder sprachliche Defizite, welche die Durchführung der Testung behindern.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ002 == '2' || resp.entity.data.response.NeuroAnamAus[SQ002] =='2'">
                                    <p>Es bestanden zum Zeitpunkt der Durchführung motorische Defizite, die zur Alltagsbehinderung führen (Parese, essentieller Tremor, Dyskinesie, etc.).</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ003 == '2' || resp.entity.data.response.NeuroAnamAus[SQ003] =='2'">
                                    <p>Es bestanden zum Zeitpunkt der Durchführung andauernde leichte oder starke Kopfschmerzen.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ006 == '2' || resp.entity.data.response.NeuroAnamAus[SQ007] =='2'">
                                    <p>Während des Aufenthaltes ereignete sich eine Kopfverletzung mit Bewusstlosigkeit, die länger als 5 Minuten dauerte.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ007 == '2' || resp.entity.data.response.NeuroAnamAus[SQ008] =='2'">
                                    <p>Während des Aufenthaltes wurde ein chirurgischer Eingriff am Gehirn durchgeführt.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ008 == '2' || resp.entity.data.response.NeuroAnamAus[SQ009] =='2'">
                                    <p>In den letzten 3 Monaten vor der Erhebung wurde eine Totalanästhesie durchgeführt.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ009 == '2' || resp.entity.data.response.NeuroAnamAus[SQ010] =='2'">
                                    <p>Eine insulinpflichtige Diabetes liegt vor.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ010 == '2' || resp.entity.data.response.NeuroAnamAus[SQ011] =='2'">
                                    <p>Es bestand bereits eine Vergiftung mit Substanzen, die toxisch auf das ZNS wirken (z.B. Butan, etc.).</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ011 == '2' || resp.entity.data.response.NeuroAnamAus[SQ012] =='2'">
                                    <p>Es bestanden zerebro-vaskuläre Krankheiten (z.B. transiente ischämische Attacke („Streifung“); Hirnschlag) zum Zeitpunkt der Durchführung oder diese kamen früher vor.</p>
                                </div>
                                <div ng-if="resp.entity.data.response.NeuroAnamAus_SQ012 == '2' || resp.entity.data.response.NeuroAnamAus[SQ013] =='2'">
                                    <p>Es liegt eine schwere somatische oder psychische Erkrankungen vor oder während des Aufenthaltes geschah ein Unfall.</p>
                                    <p>Erkrankung / Unfallfolgen: {{resp.entity.data.response.Erkrankung}}</p>
                                </div>
                        </div>
                    </div>  
            </div>
        </md-card-content>
    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
