include(../lib/html/optinomic/page/start.m4)
<div>
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <div layout="row" layout-align="start start">
                <div ng-if="d.dataMain.survey_responses['0'].calculations['0'].calculation_result.score !== null">
                    <div>
                        <h5 class="md-subhead">{{d.dataMain.patient.data.extras.anrede}} weist im CASE einen Summenwert von <b>{{d.dataMain.survey_responses["0"].calculations["0"].calculation_result.score}}</b> auf.</h5>
                    </div>
                </div>
                <div flex="60" ng-if="d.dataMain.survey_responses['0'].calculations['0'].calculation_result.score === null">
                    <h5 class="md-subhead">Keine Interpretation möglich</h5>
                    <p class="md-caption">Kein CASE-Summenwert vorhanden.</p>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <p flex class="md-subhead" style="text-align:center;">{{d.dataMain.survey_responses["0"].entity.data.filled | date}}</p>
        </md-card-actions>
    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
