include(../lib/html/optinomic/page/start.m4)
<div>
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
<!--        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
                <div flex>
                    <score-threshold score="d.dataMain.calculations[0].calculation_results[d.navigator].score" show-percent-scale="true"></score-threshold>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <p flex class="md-subhead" style="text-align:center;">{{d.dataMain.calculations[0].calculation_results.response.data.response.Datum | date}}</p>
        </md-card-actions>
-->    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
