include(../lib/html/optinomic/page/start.m4)
<div ng-init="d.navigator = 0">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <h3 ng-if="d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.Messzeitpunkt === '1'" class="md-subhead">Eintritt</h3>
            <h3 ng-if="d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.Messzeitpunkt === '2'" class="md-subhead">Austritt</h3>
            <h3 ng-if="d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.Messzeitpunkt === '3'" class="md-subhead">{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.andererZeitpunkt}}</h3>
            <div ng-if="d.dataMain.calculations[0].calculation_results[d.navigator].score.score !== null" layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
            </div>
            <div layout="row" layout-align="start start">
                <div>
                    <table class="table table-condensed" style="width: 80%;">
                        <thead>
                            <tr class="beschriftung_klein">
                                <th style="width: 33%">TMT A: Zeit</th>
                                <th style="width: 33%">TMT A: Fehler</th>
                                <th style="width: 33%">TMT A: z-Wert</th>
                        
<!--                            <th style="width: 33%" ng-show="current_result.show_z">TMT A: z-Wert</th>
                            <th style="width: 33%" ng-hide="current_result.show_z">TMT A: Perzentile</th>
-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <table class="table table-condensed" style="width: 80%;">
                        <thead>
                            <tr class="beschriftung_klein">
                                <th style="width: 33%">TMT B: Zeit</th>
                                <th style="width: 33%">TMT B: Fehler</th>
                                <th style="width: 33%">TMT B: z-Wert</th>
                        
<!--                            <th style="width: 33%" ng-show="current_result.show_z">TMT A: z-Wert</th>
                            <th style="width: 33%" ng-hide="current_result.show_z">TMT A: Perzentile</th>
-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>


include(../lib/html/optinomic/page/end.m4)


<!--include(../lib/html/optinomic/page/start.m4)


<card-title title="current_directive.title" subtitle="current_directive.description" info="current_directive.info"></card-title>


<div ng-hide="have_data" class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Info!</strong>Keine Daten vorhanden | No Data available.
        </div>
    </div>
</div>




<div ng-show="have_data">
    <div class="row m card" style="min-height: 10px;" ng-repeat="current_result in tmt">

        <p class="t_c">{{current_result.alter_ausbildung}}</p>

        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="beschriftung_klein">
                            <th style="width: 33%">TMT A: Zeit</th>
                            <th style="width: 33%">TMT A: Fehler</th>
                            <th style="width: 33%" ng-show="current_result.show_z">TMT A: z-Wert</th>
                            <th style="width: 33%" ng-hide="current_result.show_z">TMT A: Perzentile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.TMTATime}}</th>
                            <th>{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.TMTAError}}</th>
                            <th ng-show="current_result.show_z">{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.AzWert}}</th>
                            <th ng-hide="current_result.show_z">{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.TMTAPerzentile}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="beschriftung_klein">
                            <th style="width: 33%">TMT B: Zeit</th>
                            <th style="width: 33%">TMT B: Fehler</th>
                            <th style="width: 33%" ng-show="current_result.show_z">TMT B: z-Wert</th>
                            <th style="width: 33%" ng-hide="current_result.show_z">TMT B: Perzentile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.TMTBTime}}</th>
                            <th>{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.TMTBError}}</th>
                            <th ng-show="current_result.show_z">{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.BzWert}}</th>
                            <th ng-hide="current_result.show_z">{{d.dataMain.calculations[0].calculation_results[d.navigator].response.data.response.TMTBPerzentile}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p class="t_c">
            Quotient B/A (Zeit) =
            <strong>{{current_result.quotient_B_A_time}}</strong> 
            <span ng-show="current_result.show_z">| z-Wert = <strong>{{current_result.BAzWert}}</strong></spam>
        </p>
        <div>&nbsp;</div>
    </div>

    <div>&nbsp;</div>
</div>
-->
include(../lib/html/optinomic/page/end.m4)


