<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Survey 5d60df12-93dd-4a6f-984b-fff7431d8792</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    </script>
    <script type="text/javascript">
    function SurveyController($scope, $http) {
        /* simple boolean to indicate when we are all done */
        $scope.thankyou = false;
        $scope.result = {};
        /* use this to save the final result in an object to the server */
        $scope.saveresult = function() {
            $http.put('/surveys/5d60df12-93dd-4a6f-984b-fff7431d8792', $scope.result).success(function() {
                $scope.thankyou = true;
            });
        };
        /* page: string variable that surveys may use for multi-page navigation     in combination with ng-switch. initialise with ng-init in surbey */
        $scope.page = "";
        /* goto_page: unconditionally go to a new page */
        /* can't use if or ternary in ng-click */
        $scope.goto_page = function(pg) {
            $scope.page = pg;
        };
        /* goto_if: go to one page if boolean is true, another if false */
        /* can't use if or ternary in ng-click */
        $scope.goto_if = function(p, c, a) {
            if (p) {
                $scope.page = c;
            } else {
                $scope.page = a;
            }
        };
        /* page_stack: a stack of future pages to visit that surveys may use     for more complex page flow */
        $scope.page_stack = [];
        /* push_stack: push page(s) onto the page_stack.     if called with a string, just push that page to the stack     if called with an object, for every key-value pair, push key to     stack if value is truthy */
        /* can't use if or ternary in ng-click */
        $scope.push_stack = function(pg) {
            if (typeof pg == 'string') {
                $scope.page_stack.push(pg);
            } else if (_.isObject(pg)) {
                _.each(pg, function(v, k) {
                    if (v) {
                        $scope.page_stack.push(k);
                    }
                });
            }
        };
        /* pop_stack: pop a page from the stack, go to it. if stack is empty,     goto page which is the argument to pop_stack */
        /* can't use if or ternary in ng-click */
        $scope.pop_stack = function(if_empty) {
            if ($scope.page_stack.length == 0) {
                $scope.page = if_empty;
            } else {
                $scope.page = $scope.page_stack.pop();
            }
        };
    }
    angular.module('survey', []).controller('SurveyController', SurveyController);
    </script>
</head>

<body ng-app="survey">
    <div class="container">
        <div id="main" role="main">
            <div ng-controller="SurveyController">
                <div ng-hide="thankyou">
                    <div>
                        <label>How are you feeling today from a scale of 1 to 5?</label>
                        <select ng-model="result.score">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button ng-click="saveresult()">Send</button>
                </div>
                <div ng-show="thankyou">
                    Thank you for your response. You can now close the window.
                </div>
            </div>
        </div>
    </div>
</body>

</html>
