__opapp_include(../lib/html/optinomic/page/start.m4)
<md-content ng-if="d.appState !== 'loading'">
    <md-card style="background-color:#FFFDE7; min-height:">
        <md-card-content>
            <div layout-margin>
                <p>&nbsp;</p>
                <md-input-container flex class="md-block flow-text">
                    <label>Notizen</label>
                    <textarea ng-model="d.historyEntrysNotes.notes" columns="1" rows="5" aria-label="Notizen"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="column" layout-gt-xs="row" layout-align="end center" ng-if="d.dataMain.params.have_stay">
            <p class="md-caption" style="color:#9E9E9E">&nbsp;&nbsp;{{d.historyEntrysNotes.datestamp.datum_day}}, {{d.historyEntrysNotes.datestamp.datum_time}}</p>
            <span flex></span>
            <md-button md-primary ng-click="clearNotes()" aria-label="Speichern">Löschen</md-button>
            <md-button md-accent ng-click="saveNotes()" aria-label="Speichern">Speichern</md-button>
        </md-card-actions>
    </md-card>
</md-content>
<div>&nbsp;</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
