<div>
    <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
    <p class="flow-right">{{selecteRow.datestamp}}: {{selecteRow.Suchtdruck_1}}</p>
</div>
<div>
    <md-button ng-click="d.functions.resizeGrid()" class="md-primary" aria-label="Resize">
        Resize
    </md-button>
    <md-button ng-click="d.functions.toggleToolPanel()" class="md-primary" aria-label="Tool">
        Tool
    </md-button>
</div>
<div ag-grid="d.gridOptions" class="ag-fresh" style="width: 99%; height: 360px;"></div>
