<div>
    <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
</div>
<div>
    <md-button ng-click="d.functions.resizeGrid()" class="md-primary" aria-label="Resize">
        Resize
    </md-button>
    <md-button ng-click="d.functions.toggleToolPanel()" class="md-primary" aria-label="Tool">
        Tool
    </md-button>
</div>
<div ag-grid="d.gridOptions" class="ag-fresh" style="width: 99%; height: 360px;"></div>
<p class="small md-caption">
    Selection:
    <span ng-repeat="selecteRow in gridOptions.selectedRows">
        {{selecteRow.Suchtdruck}} | {{selecteRow.Suchtdruck_1}}
    </span>
</p>
