<div layout="row" layout-sm="column" layout-align="start end">
    <div flex>
        <md-select>
            <md-option value="1">Survey Results (Rawdata)</md-option>
            <md-option value="2">TARPSY (Daten 2015, Lieferung 2016)</md-option>
        </md-select>
    </div>
    <div>
        <md-select>
            <md-option value="1">;</md-option>
            <md-option value="2">,</md-option>
            <md-option value="3">|</md-option>
        </md-select>
    </div>
    <div>
        <md-button ng-click="d.functions.toggleToolPanel()" class="md-primary" aria-label="Tool">
            Download
        </md-button>
    </div>
</div>
