<div>
    <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
    <p class="md-body-2">
        {{d.dataMain.apps.current.short_description}}
        <small class="text-muted">( {{d.dataMain.apps.current.version}} | {{d.dataMain.apps.current.identifier}} )</small>
    </p>
</div>
<div layout="row">
    <div flex>
        <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
        <p class="md-caption text-muted">Version:</p>
        <p class="md-body-2">{{d.dataMain.apps.current.version}}</p>
        <p class="md-caption text-muted">Identifier (ID):</p>
        <p class="md-body-2">{{d.dataMain.apps.current.identifier}}</p>
        <p class="md-caption text-muted">Developer:</p>
        <p class="md-body-2">
            {{d.dataMain.apps.current.developer.first_name}} {{d.dataMain.apps.current.developer.last_name}}
        </p>
        <p class="md-caption text-muted">Dependencies (Count):</p>
        <p class="md-body-2">{{d.dataMain.apps.current.dependencies.length}}</p>
        <p class="md-caption text-muted">Surveys:</p>
        <p class="md-body-2" ng-repeat="survey in d.dataMain.apps.current.surveys">
            {{survey.name}}, {{survey.identifier}}
        </p>
        <p class="md-caption text-muted">Templates:</p>
        <p class="md-body-2" ng-repeat="template in d.dataMain.apps.current.templates">
            {{template.name}}
        </p>
    </div>
    <div flex>
        <h3 class="md-headline">Patient</h3>
        <p class="md-caption text-muted">Name:</p>
        <p class="md-body-2">
            {{d.dataMain.patient.patient.data.last_name}} {{d.dataMain.patient.patient.data.first_name}}
        </p>
        <h3 class="md-headline">Parameter</h3>
        <p class="md-caption text-muted">PID:</p>
        <p class="md-body-2">{{d.dataMain.params.PID}}</p>
        <p class="md-caption text-muted">Token:</p>
        <p class="md-body-2">{{d.dataMain.params.token}}</p>
        <h3 class="md-headline">Data</h3>
        <p class="md-caption text-muted">Survey Responses (Count):</p>
        <p class="md-body-2">{{d.dataMain.survey_responses.length}}</p>
        <p class="md-caption text-muted">Events (Count):</p>
        <p class="md-body-2">{{d.dataMain.events.length}}</p>
    </div>
</div>
