include(../lib/html/optinomic/page/start.m4)
<div style="margin-top: 24px;">
    <md-content>
        <md-tabs md-selected="d.appInit.selectedTabIndex" md-dynamic-height md-border-bottom>
            <md-tab label="Applikation">
                <md-content class="md-padding">
                    include(templates/selector_application.html)
                </md-content>
            </md-tab>
            <md-tab label="Patienten ({{d.appInit.promise.patients.length}})">
                <md-content class="md-padding">
                    include(templates/selector_patient_list.html)
                </md-content>
            </md-tab>
            <md-tab label="Ergebnis" ng-if="d.appInit.fulfillment.have_data || d.appInit.is_busy">
                <md-content class="md-padding">
                    include(templates/result.html)
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
include(../lib/html/optinomic/page/end.m4)
