include(../lib/html/optinomic/page/start.m4)
<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Applikation">
            <md-content class="md-padding">
                include(templates/selector_application.html)
            </md-content>
        </md-tab>
        <md-tab label="Patienten ({{d.appInit.patientList.data.length}})">
            <md-content class="md-padding">
                include(templates/selector_patient_list.html)
            </md-content>
        </md-tab>
        <md-tab label="Ergebnis" ng-if="d.appInit.patientList.have_data">
            <md-content class="md-padding">
                include(templates/result.html)
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
include(../lib/html/optinomic/page/end.m4)
