__opapp_include(../lib/html/optinomic/page/start.m4)
<div style="margin-top: 4px;">
    <md-content>
        <md-tabs md-selected="d.appInit.selectedTabIndex" md-dynamic-height md-border-bottom>
            <md-tab label="Applikation">
                <md-content class="md-padding">
                    __opapp_include(templates/selector_application.html)
                </md-content>
            </md-tab>
            <md-tab label="{{d.appInit.promise.patients.length}} Patienten">
                <md-content class="md-padding">
                    __opapp_include(templates/selector_patient_list.html)
                </md-content>
            </md-tab>
            <md-tab label="Ergebnis" ng-if="d.appInit.fulfillment.have_data || d.appInit.is_busy">
                <md-content class="md-padding">
                    __opapp_include(templates/timeline.html)
                </md-content>
            </md-tab>
            <md-tab label="Details" ng-if="d.details.have_data === true">
                <md-content class="md-padding">
                    __opapp_include(templates/details.html)
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
