<div>
    <h3 class="md-headline">Applikation selektieren</h3>
    <p class="md-body-1" style="color:#3F51B5">Bitte selektieren Sie die gewünschte Applikation:</p>
    <div>&nbsp;</div>
    <md-input-container class="md-block">
        <label>Applikation</label>
        <md-select ng-model="d.appInit.app_id">
            <md-option ng-repeat="app in d.dataMain.apps.all_patient_modules" value="{{app.identifier}}">{{app.name}} ({{app.identifier}})</md-option>
        </md-select>
    </md-input-container>
    <div layout="row" layout-gt-xs="row" layout-align="end center">
        <md-button ng-click="setTab(1)" class="md-accent">Weiter</md-button>
    </div>
</div>
