include(../lib/html/optinomic/page/start.m4)
<div ng-repeat="response in d.dataMain.survey_responses_group[0]">
    <div>
        <h4 class="md-headline">Problemsubstanzen</h4>
        <p class="md-body-1">Folgende Substanzen konsumierte der Patient/ die Patientin vor dem aktuellen Entzug in der angegebenen Häufigkeit:</p>
        <p>ToDo</p>
    </div>
    <div>
        <h4 class="md-headline">AUDIT</h4> {{response.calculations[0].calculation_result.AUDIT.AUDIT_Score}}
        <div ng-if="response.calculations[0].calculation_result.AUDIT.AUDIT_Score !== null" layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
            <div flex>
                <score-threshold score="response.calculations[0].calculation_result.AUDIT.AUDIT_Score" min="0" max="40" show-percent-scale="true" scale-ranges="response.calculations[0].calculation_result.AUDIT.ranges" show-min-max="true"></score-threshold>
            </div>
        </div>
        <div layout="row" layout-align="start start">
            <div flex="60" ng-if="response.calculations[0].calculation_result.AUDIT.AUDIT_Score !== null">
                <div>
                    <h5 class="md-subhead">Interpretation</h5>
                    <p class="md-display-1" ng-attr-style="color:{{response.calculations[0].calculation_result.AUDIT.result_color}}">{{response.calculations[0].calculation_result.AUDIT.result}} (Σresponse.calculations[0].calculation_result.AUDIT.AUDIT_Score)</p>
                </div>
            </div>
            <div flex="60" ng-if="response.calculations[0].calculation_result.AUDIT.AUDIT_Score === null">
                <h5 class="md-subhead">Keine Interpretation möglich</h5>
                <p class="md-caption">Kein AUDIT-Score vorhanden.</p>
            </div>
            <div flex="40">
                <h5 class="md-subhead">AUDIT Summenwerte | {{response.calculations[0].calculation_result.AUDIT.gender | translate}</h5>
                <table class="table table-condensed" style="width: 80%;">
                    <tr ng-repeat="range in response.calculations[0].calculation_result.AUDIT.ranges">
                        <td style="text-align:right !important;">
                            <small>{{range.from}}-{{range.to}}&nbsp;</small>
                        </td>
                        <td>
                            <small>{{range.result}}</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        <h4 class="md-headline">Fagerström</h4> {{response.calculations[0].calculation_result.FAGERSTROEM.FAGERSTROEM_Score}}
        <pre>{{response.calculations[0].calculation_result.FAGERSTROEM.interpretation | json}}</pre>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
