include(../lib/html/optinomic/page/start.m4)
<md-content>
    <div>
        <p class="md-subhead">Verordnung</p>
        <div ng-if="d.medication.length > 0" ng-repeat="entry in d.medication">
            <div ng-if="entry.medication_status === 0" layout="row" layout-xs="row" layout-gt-xs="row" layout-align="start start">
                <div>
                    <p class="flow-text">{{$index + 1}}.&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div flex>
                    <a target="_blank" ng-href="{{entry.icd_url_info}}">
                        <p class="flow-text">{{entry.medication_name}}</p>
                    </a>
                </div>
                <div flex="35">
                    <p class="flow-text">{{entry.medication_dosierung_mo}} - {{entry.medication_dosierung_mi}} - {{entry.medication_dosierung_ab}} - {{entry.medication_dosierung_na}}</p>
                </div>
            </div>
        </div>
        <div ng-if="d.medication.length === 0" layout-padding>
            <p class="flow-text">Keine Medikamente.</p>
        </div>
    </div>
    <div style="margin-top: 24px;">
        <p class="md-subhead">Reserve</p>
        <div ng-if="d.medication_reserve.length > 0" ng-repeat="entry in d.medication_reserve">
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="start start">
                <div>
                    <p class="flow-text">{{$index + 1}}.&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div flex>
                    <a target="_blank" ng-href="{{entry.icd_url_info}}">
                        <p class="flow-text">{{entry.medication_name}}</p>
                    </a>
                </div>
                <div flex="35">
                    <p class="flow-text">{{entry.medication_indikation}}</p>
                </div>
            </div>
        </div>
        <div ng-if="d.medication_reserve.length === 0" layout-padding>
            <p class="flow-text">Keine Reserve.</p>
        </div>
    </div>
</md-content>
include(../lib/html/optinomic/page/end.m4)
