__opapp_include(../lib/html/optinomic/page/start.m4)
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{d.app.sections[0].name}} ({{d.app.sections[0].count}})" md-on-select="changeSection(0)">
        <md-content class="md-padding">
            <div layout="row" layout-gt-xs="row" layout-xs="column" layout-align="space-between center" layout-margin>
                <div>
                    <p class="md-subhead" style="color:#9E9E9E">Medikamente</p>
                    <h1 class="md-display-1" style="margin-top: -12px;">{{d.app.selected_section.name}}</h1>
                </div>
                <p class="md-subhead" style="color:#9E9E9E" hide-xs>{{d.dataMain.patient.data.extras.full_name}} ({{d.dataMain.patient.data.extras.birthday_age}})</p>
            </div>
            <div ng-if="d.appState === 'show'">
                <div ng-if="d.app.selected_section.id === 0">
                    __opapp_include(../lib/html/optinomic/templates/data_table.html)
                    <div ag-grid="d.grid.options" class="ag-optinomic" style="width: 100%; height: 800px;"></div>
                </div>
            </div>
            <div ng-if="(d.appState === 'edit') || (d.appState === 'new')">
                __opapp_include(templates/medication_edit.html)
            </div>
        </md-content>
    </md-tab>
    <md-tab label="{{d.app.sections[1].name}} ({{d.app.sections[1].count}})" md-on-select="changeSection(1)">
        <md-content class="md-padding">
            <div layout="row" layout-gt-xs="row" layout-xs="column" layout-align="space-between center" layout-margin>
                <div>
                    <p class="md-subhead" style="color:#9E9E9E">Medikamente</p>
                    <h1 class="md-display-1" style="margin-top: -12px;">{{d.app.selected_section.name}}</h1>
                </div>
                <p class="md-subhead" style="color:#9E9E9E" hide-xs>{{d.dataMain.patient.data.extras.full_name}} ({{d.dataMain.patient.data.extras.birthday_age}})</p>
            </div>
            <div ng-if="d.appState === 'show'">
                <div ng-if="d.app.selected_section.id === 1">
                    __opapp_include(../lib/html/optinomic/templates/data_table.html)
                    <div ag-grid="d.grid.options" class="ag-optinomic" style="width: 100%; height: 800px;"></div>
                </div>
            </div>
            <div ng-if="(d.appState === 'edit') || (d.appState === 'new')">
                __opapp_include(templates/medication_reserve_edit.html)
            </div>
        </md-content>
    </md-tab>
    <md-tab label="{{d.app.sections[2].name}} ({{d.app.sections[2].count}})" md-on-select="changeSection(2)">
        <md-content class="md-padding">
            <div layout="row" layout-gt-xs="row" layout-xs="column" layout-align="space-between center" layout-margin>
                <div>
                    <p class="md-subhead" style="color:#9E9E9E">Medikamente</p>
                    <h1 class="md-display-1" style="margin-top: -12px;">{{d.app.selected_section.name}}</h1>
                </div>
                <p class="md-subhead" style="color:#9E9E9E" hide-xs>{{d.dataMain.patient.data.extras.full_name}} ({{d.dataMain.patient.data.extras.birthday_age}})</p>
            </div>
            <div ng-if="d.appState === 'show'">
                <div ng-if="d.app.selected_section.id === 2">
                    __opapp_include(../lib/html/optinomic/templates/data_table.html)
                    <div ag-grid="d.grid.options" class="ag-optinomic" style="width: 100%; height: 800px;"></div>
                </div>
            </div>
            <div ng-if="(d.appState === 'edit') || (d.appState === 'new')">
                __opapp_include(templates/medication_reserve_abgabe_edit.html)
            </div>
        </md-content>
    </md-tab>
</md-tabs>
__opapp_include(../lib/html/optinomic/page/end.m4)
