.craving {
    color: red !important;
    font-size: 8px;
}

div.absolute {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 136px;
}

div.absolute_plus {
    position: absolute;
    top: 40px;
    right: 0;
    width: 100%;
    height: 166px;
}
