include(../lib/html/optinomic/page/start.m4)
<md-content class="md-padding">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.params.app_name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <div>&nbsp;</div>
            <md-input-container class="md-block">
                <label>Behandlungsart</label>
                <md-select class="md-title" ng-model="d.stay_init.selected.treatment_id" md-on-close="changeTreatment()">
                    <md-option ng-repeat="treatment in d.stay_init.treatment" value="{{treatment.id}}">
                        {{treatment.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout-margin>
            <div>
                <h1 class="md-title">Behandlungen: {{d.stay_init.selected.treatment.description}}</h1>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="department in d.stay_init.selected.treatment.departments">
                        <md-checkbox ng-model="department.current_patient.used" aria-label="{{department.current_patient.name}}">
                        </md-checkbox>
                        <div class="md-list-item-text">
                            <h3>{{department.current_patient.name}}</h3>
                            <p>{{department.current_patient.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout-margin>
            <p class="md-caption">Selktiert</p>
            <pre>{{d.stay_init.selected | json}}</pre>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout-margin>
            <p class="md-caption">d.stay_init</p>
            <pre>{{d.stay_init | json}}</pre>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <md-button ng-click="saveInit();" class="md-warn">Speichern</md-button>
        </md-card-actions>
    </md-card>
</md-content>
include(../lib/html/optinomic/page/end.m4)
