include(../lib/html/optinomic/page/start.m4)
<md-content class="md-padding">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.params.app_name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <div>
                <div>&nbsp;</div>
                <md-input-container class="md-block">
                    <label>Behandlungsart</label>
                    <md-select class="md-title" ng-model="d.init_stay.selected.treatment_id" md-on-close="changeTreatment()">
                        <md-option ng-repeat="treatment in d.init_stay.treatment" value="{{treatment.id}}">
                            {{treatment.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout-margin>
            <div>
                <h1 class="md-title">Behandlungen: {{d.init_stay.selected.treatment.description}}</h1>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="department in d.init_stay.selected.treatment.departments">
                        <md-checkbox ng-model="department.current_patient.used" aria-label="{{department.current_patient.name}}">
                        </md-checkbox>
                        <div class="md-list-item-text">
                            <h3>{{department.name}}</h3>
                            <p>{{department.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout-margin>
            <div>
                <h1 class="md-title">Behandlungsgeschichte:</h1>
                <md-list>
                    <div ng-repeat="item in d.init_stay.history_states" ng-init="item.showDetails=false">
                        <div ng-if="item.showDetails">
                            <pre>{{item | json}}</pre>
                        </div>
                        <md-list-item class="md-2-line">
                            <i ng-if="department.data.current" class="mdi mdi-check"></i>
                            <i ng-if="!department.data.current" class="mdi mdi-chevron-left"></i>
                            <div class="md-list-item-text">
                                <h3>{{item.data.date}} | {{item.data.time}}</h3>
                                <p>{{item.data.name}}</p>
                            </div>
                        </md-list-item>
                    </div>
                </md-list>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content layout-margin>
            <p class="md-caption">Selktiert</p>
            <pre>{{d.init_stay.selected | json}}</pre>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <md-button ng-click="saveInit();" class="md-warn">Speichern</md-button>
        </md-card-actions>
    </md-card>
</md-content>
include(../lib/html/optinomic/page/end.m4)
