__opapp_include(../lib/html/optinomic/page/start.m4)
<md-content class="md-padding">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.params.app_name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin ng-if="d.init_stay.history_states.length === 0">
            <h1 class="md-title">Bitte spezifizieren Sie die aktuelle Behandlung. Danke!</h1>
        </md-card-content>
        <md-divider ng-if="d.init_stay.history_states.length === 0"></md-divider>
        <md-card-content layout-margin>
            <div>
                <h1 class="md-title"><span ng-if="d.init_stay.history_states.length === 0">Behandlung spezifizieren:</span><span ng-if="d.init_stay.history_states.length > 0">Aktuelle Behandlung: {{d.init_stay.selected.treatment.description}}</span></h1>
                <div>&nbsp;</div>
                <md-input-container class="md-block">
                    <label ng-if="d.init_stay.history_states.length === 0">Behandlungsart spezifizieren:</label>
                    <label ng-if="d.init_stay.history_states.length > 0">Aktuelle Behandlungsart</label>
                    <md-select class="md-subhead" ng-model="d.init_stay.selected.treatment_id" md-on-close="changeTreatment()" aria-label="Behandlungsart selektieren">
                        <md-option ng-repeat="treatment in d.init_stay.treatment" value="{{treatment.id}}">
                            {{treatment.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div style="margin-top: 24px;">
                <p class="md-subhead">Abteilungen | Behnaldungen</p>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="department in d.init_stay.selected.treatment.departments">
                        <md-checkbox ng-model="department.current_patient.used" aria-label="{{department.current_patient.name}}">
                        </md-checkbox>
                        <div class="md-list-item-text">
                            <h3>{{department.name}}</h3>
                            <p>{{department.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-card-content>
        <div ng-if="d.init_stay.show_history">
            <md-divider></md-divider>
            <md-card-content layout-margin ng-if="d.init_stay.history_states.length > 0">
                <div>
                    <div layout="row" layout-align="space-between center">
                        <div>
                            <h1 class="md-title">Behandlungsgeschichte</h1>
                        </div>
                        <div>
                            <md-button class="md-icon-button" ng-click="d.init_stay.show_history = !d.init_stay.show_history" aria-label="Behandlungsgeschichte schliessen" style="color: #3F51B5;">
                                <i class="md-title mdi mdi-close"></i>
                            </md-button>
                        </div>
                    </div>
                    <md-list>
                        <md-list-item class="md-2-line" ng-click="showDetails(item)" ng-repeat="item in d.init_stay.history_states">
                            <md-checkbox ng-disabled="true" ng-model="item.current" aria-label="Current">
                            </md-checkbox>
                            <div class="md-list-item-text">
                                <h3>{{item.data.treatment.name}} </h3>
                                <p>{{item.data.treatment.description}} | {{item.date}}, {{item.time}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <p class="md-caption">Legende: [✓] = Aktuelle Behandlung</p>
                </div>
                <div ng-if="d.init_stay.show_details.show">
                    <div layout="row" layout-align="space-between center">
                        <div>
                            <h1 class="md-title">Details: {{d.init_stay.show_details.data.data.treatment.name}} | {{d.init_stay.show_details.data.date}} {{d.init_stay.show_details.data.time}}</h1>
                        </div>
                        <div>
                            <md-button class="md-icon-button" ng-click="d.init_stay.show_details.show = false" aria-label="Schliessen" style="color: #9E9E9E;">
                                <i class="md-title mdi mdi-close"></i>
                            </md-button>
                        </div>
                    </div>
                    <pre>{{d.init_stay.show_details.data.data | json}}</pre>
                </div>
            </md-card-content>
        </div>
        <md-divider ng-if="d.init_stay.debug"></md-divider>
        <md-card-content ng-if="d.init_stay.debug" layout-margin>
            <div layout="row" layout-align="space-between center">
                <div>
                    <h1 class="md-title">Debugging</h1>
                </div>
                <div>
                    <md-button class="md-icon-button" ng-click="d.init_stay.debug = false" aria-label="Schliessen" style="color: #9E9E9E;">
                        <i class="md-title mdi mdi-close"></i>
                    </md-button>
                </div>
            </div>
            <p class="md-titel">Selktiert</p>
            <pre>{{d.init_stay.selected | json}}</pre>
            <p class="md-titel">Full</p>
            <pre>{{d.init_stay | json}}</pre>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-xs="row" layout-align="space-between center">
            <md-button ng-if="d.dataMain.users.current.data.role === 'Admin'" class="md-icon-button" ng-click="d.init_stay.debug = !d.init_stay.debug" aria-label="Debugging" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-bug"></i>
            </md-button>
            <md-button class="md-icon-button" ng-click="d.init_stay.show_history = !d.init_stay.show_history" aria-label="Behandlungsgeschichte" style="color: #3F51B5;">
                <i class="md-title mdi mdi-history"></i>
            </md-button>
            <md-button ng-click="saveInit();" class="md-accent">Speichern</md-button>
        </md-card-actions>
    </md-card>
</md-content>
__opapp_include(../lib/html/optinomic/page/end.m4)
