include(../lib/html/optinomic/page/start.m4)
<p class="md-display-4">Polypoint</p>
<div class="grid-border-top" style="margin-top: 30px;">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
        <div flex>
            <h3 class="md-headline">Datenquellen</h3>
        </div>
    </div>
    <div ng-repeat="odbc in d.odbc.data_packages.all" layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
        <p flex class="md-headline">Welcome</p>
        <md-button class="md-primary">Ausführen</md-button>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
