<div>
    <md-button class="md-icon-button" ng-click="entryEdit(d.grid.selected_row.uniqueid)" aria-label="Bearbeiten" style="color: #3F51B5;">
        <i class="md-title mdi mdi-pencil"></i>
        <md-tooltip md-direction="bottom">
            Medikament bearbeiten
        </md-tooltip>
    </md-button>
    <md-button class="md-icon-button " ng-click="showConfirm($event, d.grid.selected_row.uniqueid) " aria-label="Löschen " style="color: #9E9E9E; ">
        <i class="md-title mdi mdi-delete "></i>
        <md-tooltip md-direction="bottom">
            Medikament löschen
        </md-tooltip>
    </md-button>
</div>
<div flex style="padding: 12px;">
    <p class="md-subhead" style="margin-top:8px;"><i class="mdi mdi-chevron-double-right"></i> {{d.grid.selected_row.display}}</p>
</div>
