include(../lib/html/optinomic/page/start.m4)
<div>
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <h3 ng-if="d.dataMain.survey_responses[0].entity.data.response.Messzeitpunkt === '1'" class="md-subhead">Eintritt</h3>
            <h3 ng-if="d.dataMain.survey_responses[0].entity.data.response.Messzeitpunkt === '2'" class="md-subhead">Austritt</h3>
            <h3 ng-if="d.dataMain.survey_responses[0].entity.data.response.Messzeitpunkt === '3'" class="md-subhead">Verlauf</h3>
            <p>&nbsp;</p>
            <div layout="row" layout-align="space-between start" layout-margin>
                <div layout="column" layout-align="start center">
                    <p class="md-caption">TMT A: Zeit</p>
                    <p class="md-subhead" style="margin-top:-18px;">60.0</p>
                </div>
                <div layout="column" layout-align="start center">
                    <p class="md-caption">TMT A: Fehler</p>
                    <p class="md-subhead" style="margin-top:-18px;">3</p>
                </div>
                <div layout="column" layout-align="start center">
                    <p class="md-caption">TMT A: Perzentile</p>
                    <p class="md-subhead" style="margin-top:-18px;">-0.92</p>
                </div>
            </div>
            <div layout="row" layout-align="space-between start" layout-margin>
                <div layout="column" layout-align="start center">
                    <p class="md-caption">TMT B: Zeit</p>
                    <p class="md-subhead" style="margin-top:-18px;">62.0</p>
                </div>
                <div layout="column" layout-align="start center">
                    <p class="md-caption">TMT B: Fehler</p>
                    <p class="md-subhead" style="margin-top:-18px;">5</p>
                </div>
                <div layout="column" layout-align="start center">
                    <p class="md-caption">TMT B: Perzentile</p>
                    <p class="md-subhead" style="margin-top:-18px;">-0.45</p>
                </div>
            </div>
            <p>&nbsp;</p>
            <h5 class="md-subhead">Alter: 100 | Ausbildungsjahre: 15</h5>
            <p class="md-display-1" style="width: 50%; text-align:center"> Quotient B/A (Zeit) = <strong>2.07</strong> | z-Wert = <strong>0.44</strong>
            </p>
            <div>&nbsp;</div>
        </md-card-content>
    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
