include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Trail Making Test (TMT) - A</h3>
<md-fab-toolbar md-open="d.fab.isOpen" count="d.fab.tmt.count" md-direction="left">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab" style="color:#FFF">
            <i class="mdi mdi-menu" style="color:#000"></i>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="Zeige klinische Stichprobe" ng-click="setZScore('show_clinicsample')" class="md-icon-button">
                <i class="mdi mdi-ruler"></i>
            </md-button>
            <md-button aria-label="Zeige Beschriftungstext" ng-click="setZScore('show_text')" class="md-icon-button">
                <i class="mdi mdi-format-text"></i>
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>
<h3 class="md-subhead">Assessment | Messungen</h3>
<z-score data="d.zScore.tmt_a.eintritt"></z-score>
<z-score data="d.zScore.tmt_a.austritt"></z-score>
<div layout="row" layout-align="space-between start" layout-margin>
    <div layout="column" layout-align="start center">
        <p class="md-caption">Eintritt</p>
        <p class="md-subhead" style="margin-top:-12px;">21.4.2016</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT A: Zeit</p>
        <p class="md-subhead" style="margin-top:-12px;">60.0</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT A: Fehler</p>
        <p class="md-subhead" style="margin-top:-12px;">3</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT A: Perzentile</p>
        <p class="md-subhead" style="margin-top:-12px;">-0.92</p>
    </div>
</div>
<div layout="row" layout-align="space-between start" layout-margin>
    <div layout="column" layout-align="start center">
        <p class="md-caption">Austritt</p>
        <p class="md-subhead" style="margin-top:-12px;">21.5.2016</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT A: Zeit</p>
        <p class="md-subhead" style="margin-top:-12px;">45.0</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT A: Fehler</p>
        <p class="md-subhead" style="margin-top:-12px;">5.03</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT A: Perzentile</p>
        <p class="md-subhead" style="margin-top:-12px;">-0.42</p>
    </div>
</div>
<h3 class="md-subhead">Quotient B/A (Zeit)</h3>
<z-score data="d.zScore.tmt_b_a_quotient"></z-score>
<div layout="row" layout-align="space-between start" layout-margin>
    <div layout="column" layout-align="start center">
        <p class="md-caption">Quotient B/A (Zeit)</p>
        <p class="md-subhead" style="margin-top:-12px;">2.07</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">Quotient B/A (Z-Wert)</p>
        <p class="md-subhead" style="margin-top:-12px;">0.44</p>
    </div>
</div>
<h3 class="md-headline">Trail Making Test (TMT) - B</h3>
<h3 class="md-subhead">Assessment | Messungen</h3>
<z-score data="d.zScore.tmt_b.eintritt"></z-score>
<z-score data="d.zScore.tmt_b.austritt"></z-score>
<div layout="row" layout-align="space-between start" layout-margin>
    <div layout="column" layout-align="start center">
        <p class="md-caption">Eintritt</p>
        <p class="md-subhead" style="margin-top:-12px;">21.4.2016</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT B: Zeit</p>
        <p class="md-subhead" style="margin-top:-12px;">60.0</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT B: Fehler</p>
        <p class="md-subhead" style="margin-top:-12px;">3</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT B: Perzentile</p>
        <p class="md-subhead" style="margin-top:-12px;">-0.92</p>
    </div>
</div>
<div layout="row" layout-align="space-between start" layout-margin>
    <div layout="column" layout-align="start center">
        <p class="md-caption">Austritt</p>
        <p class="md-subhead" style="margin-top:-12px;">21.5.2016</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT B: Zeit</p>
        <p class="md-subhead" style="margin-top:-12px;">67.0</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT B: Fehler</p>
        <p class="md-subhead" style="margin-top:-12px;">2.3</p>
    </div>
    <div layout="column" layout-align="start center">
        <p class="md-caption">TMT B: Perzentile</p>
        <p class="md-subhead" style="margin-top:-12px;">0.42</p>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
