<div>
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <div flex>
            <h3 class="md-headline">{{d.dataMain.patient.data.ansprache}} {{d.dataMain.patient.data.extras.name}}</h3>
        </div>
        <md-button ng-click="d.TMT.settings = !d.TMT.settings" class="md-icon-button">
            <i class="mdi mdi-dots-vertical" style="font-size:24px;"></i>
            <md-tooltip md-direction="left">
                Einstellungen
            </md-tooltip>
        </md-button>
    </div>
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between start">
        <div flex="50">
            <p class="md-caption" style="margin-top:-6px;">
                Alter (bei Erfassung):
                <span style="color:#757575">{{d.dataMain.patient.data.extras.age}} Jahre</span>
            </p>
        </div>
        <div flex>
            <p class="md-caption" style="margin-top:-6px;">
                Ausbildung:
                <span style="color:#757575">{{d.dataMain.survey_responses[0].calculations[0].calculation_result.edu_years}} Jahre</span>
            </p>
        </div>
    </div>
</div>
<div class="grid-border-top" style="margin-top: 30px;" ng-repeat="tmt in d.TMT.groups">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <div flex>
            <h3 class="md-headline">{{tmt.name}}</h3>
        </div>
        <md-button ng-click="d.TMT.settings=! d.TMT.settings" class="md-icon-button">
            <i class="mdi mdi-dots-vertical" style="font-size:24px;"></i>
            <md-tooltip md-direction="left">
                Einstellungen
            </md-tooltip>
        </md-button>
    </div>
    <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start">
        <div flex>
            <p class="md-subhead">Normstichprobe</p>
            <p class="md-caption" style="color:#757575;margin-top:-6px;">
                Z-Werte aufgrund der Normstichprobe nach Tombaugh (2004):
                <br> {{d.TMT.normgruppe_tmt.age_group.age_group_text}}, {{d.TMT.normgruppe_tmt.edu_group.edu_group_text}}. (N={{d.TMT.normgruppe_tmt.n}})
            </p>
        </div>
        <div flex>
            <p class="md-subhead">Klinikstichprobe </p>
        </div>
    </div>
    <div ng-repeat="data in tmt.data">
        <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between center">
            <div flex>
                <z-score data="data.zscore" options="d.TMT.zscore_options"></z-score>
            </div>
            <div style="margin-left: 24px;">
                <p class="md-caption">Zeit: {{data.calculation.TMTBTime}}
                    <br>Fehler: {{data.calculation.TMTBError}}
                    <span ng-if="data.calculation.Messzeitpunkt.Messzeitpunkt === 1">
                    <br>B/A: {{data.calculation.quotient_rounded}}
                    </span>
                </p>
            </div>
            <div>
                <md-button ng-if="!data.ks.show_controls" ng-click="data.ks.show_controls = !data.ks.show_controls" class="md-icon-button">
                    <i class="mdi mdi-glasses" style="font-size:18px;color:#E0E0E0"></i>
                    <md-tooltip md-direction="left">
                        Untersuchen & Vergleichen
                    </md-tooltip>
                </md-button>
                <md-button ng-if="data.ks.show_controls" ng-click="data.ks.show_controls = !data.ks.show_controls" class="md-icon-button">
                    <i class="mdi mdi-close" style="font-size:18px;"></i>
                    <md-tooltip md-direction="left">
                        Untersuchen & Vergleichen | Schliessen
                    </md-tooltip>
                </md-button>
            </div>
        </div>
        <div ng-if="data.ks.show_controls">
            <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between center">
                <p class="md-caption" style="color:#757575;">{{data.ks.path_data.text_full}}</p>
                <md-input-container flex ng-class="md-block" ng-repeat="dim in d.ks.dimensions">
                    <label>{{dim.name}}</label>
                    <md-select ng-model="data.ks.path_selected[$index]" ng-change="changeClinicSample(data)">
                        <md-option ng-repeat="item in dim.array" ng-value="item.id">
                            {{item.text}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
</div>
