__opapp_include(../lib/html/optinomic/page/start.m4)
<md-content ng-if="d.haveData">
    <div ng-if="d.TMT.init !== true">
        <h3 class="md-headline">TMT</h3>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <h3 class="md-subhead">Berechnung wird ausgeführt.</h3>
    </div>
    <div ng-if="d.TMT.init">
        <div ng-if="!d.TMT.settings">
            __opapp_include(templates/score.html)
        </div>
        <div ng-if="d.TMT.settings">
            __opapp_include(templates/settings.html)
        </div>
    </div>
</md-content>
<div ng-if="!d.haveData">
    <h3 class="md-headline">Keine Daten</h3>
    <h3 class="md-subhead">Kein Assessment | Messungen vorhanden.</h3>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
