include(../lib/html/optinomic/page/start.m4)
<div>
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <h3 class="md-title">Age | Education - Scores</h3>
            <div class="grid-border-top" ng-repeat="age_group in d.tmt.age_edu_scores">
                <h3 class="md-subhead">
                    {{age_group.info.age_group_text}} 
                    <small>(id: {{age_group.info.age_group}})</small>
                </h3>
                <div ng-init="age_group.info.show_edu_all = false">
                    <p class="md-caption">Education: Alle Levels ( n={{age_group.edu_all.mz_alle.n}} )</p>
                    <div ng-if="age_group.info.show_edu_all">
                        <pre>{{age_group.edu_all | json}}</pre>
                        <md-button ng-click="age_group.info.show_edu_all = false">Schliessen</md-button>
                    </div>
                    <div ng-if="!age_group.info.show_edu_all">
                        <md-button ng-click="age_group.info.show_edu_all = true">Anzeigen</md-button>
                    </div>
                </div>
                <p></p>
            </div>
            <pre>{{d.tmt.age_edu_scores | json}}</pre>
            <h3 class="md-subhead">Calculation Data</h3>
            <pre>{{d.dataMain.calculations[0].calculation_results | json}}</pre>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <md-button class="md-icon-button md-accent" aria-label="Prev" ng-click="prev()">
                <i class="mdi mdi-chevron-left"></i>
            </md-button>
            <p flex class="md-subhead" style="text-align:center;">Text</p>
            <md-button class="md-icon-button md-accent" aria-label="Next" ng-click="next()">
                <i class="mdi mdi-chevron-right"></i>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
