include(../lib/html/optinomic/page/start.m4)
<div>
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <div ng-repeat="age_group in d.calculations.age_edu_scores">
            <md-card-content layout-margin>
                <p>&nbsp;</p>
                <div layout="row" layout-align="space-between end">
                    <h3 flex class="md-title">{{age_group.info.age_group_text}}  |  n={{age_group.edu_all.mz_alle.n}}</h3>
                    <p class="md-caption"><small>id:{{age_group.info.age_group}}</small></p>
                </div>
                <div ng-if="age_group.edu_all.mz_alle.n > 0">
                    <div ng-init="age_group.info.show_edu_high = false" class="grid-border-top">
                        <div ng-if="age_group.info.show_edu_high">
                            <div layout="row" layout-align="space-between end">
                                <p class="md-subhead">n={{age_group.edu_high.mz_alle.n}} | Ausbildung: > 12</p>
                                <md-button ng-click="age_group.info.show_edu_high = false">Schliessen</md-button>
                            </div>
                            <pre>{{age_group.edu_high | json}}</pre>
                            <div layout="row" layout-align="space-between end">
                                <p class="md-subhead">n={{age_group.edu_high.mz_alle.n}} | Ausbildung: > 12</p>
                                <md-button ng-click="age_group.info.show_edu_high = false">Schliessen</md-button>
                            </div>
                        </div>
                        <div ng-if="!age_group.info.show_edu_high">
                            <div layout="row" layout-align="space-between end">
                                <p flex class="md-subhead">Ausbildung: > 12</p>
                                <p class="md-subhead">n={{age_group.edu_high.mz_alle.n}}</p>
                                <md-button ng-click="age_group.info.show_edu_high = true">Anzeigen</md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-init="age_group.info.show_edu_small = false" class="grid-border-top">
                        <div ng-if="age_group.info.show_edu_small">
                            <div layout="row" layout-align="space-between end">
                                <p class="md-subhead">n={{age_group.edu_small.mz_alle.n}} | Education:
                                    <=12</p>
                                        <md-button ng-click="age_group.info.show_edu_small = false">Schliessen</md-button>
                            </div>
                            <pre>{{age_group.edu_small | json}}</pre>
                            <div layout="row" layout-align="space-between end">
                                <p class="md-subhead">n={{age_group.edu_small.mz_alle.n}} | Education:
                                    <=12</p>
                                        <md-button ng-click="age_group.info.show_edu_small = false">Schliessen</md-button>
                            </div>
                        </div>
                        <div ng-if="!age_group.info.show_edu_small">
                            <div layout="row" layout-align="space-between end">
                                <p flex class="md-subhead">Ausbildung:
                                    <=12</p>
                                        <p class="md-subhead">n={{age_group.edu_small.mz_alle.n}}</p>
                                        <md-button ng-click="age_group.info.show_edu_small = true">Anzeigen</md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-init="age_group.info.show_edu_all = false" class="grid-border-top">
                        <div ng-if="age_group.info.show_edu_all">
                            <div layout="row" layout-align="space-between end">
                                <p class="md-subhead">n={{age_group.edu_all.mz_alle.n}} | Ausbildung: Alle Levels</p>
                                <md-button ng-click="age_group.info.show_edu_all = false">Schliessen</md-button>
                            </div>
                            <pre>{{age_group.edu_all | json}}</pre>
                            <div layout="row" layout-align="space-between end">
                                <p class="md-subhead">n={{age_group.edu_all.mz_alle.n}} | Ausbildung: Alle Levels</p>
                                <md-button ng-click="age_group.info.show_edu_all = false">Schliessen</md-button>
                            </div>
                        </div>
                        <div ng-if="!age_group.info.show_edu_all">
                            <div layout="row" layout-align="space-between end">
                                <p flex class="md-subhead">Ausbildung: Alle Levels</p>
                                <p class="md-subhead">n={{age_group.edu_all.mz_alle.n}}</p>
                                <md-button ng-click="age_group.info.show_edu_all = true">Anzeigen</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-divider></md-divider>
        </div>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <md-button class="md-icon-button md-accent" aria-label="Prev" ng-click="prev()">
                <i class="mdi mdi-chevron-left"></i>
            </md-button>
            <p flex class="md-subhead" style="text-align:center;">Text</p>
            <md-button class="md-icon-button md-accent" aria-label="Next" ng-click="next()">
                <i class="mdi mdi-chevron-right"></i>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
