include(../lib/html/optinomic/page/start.m4)
<div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
    <p class="md-headline">Dokumente (PDF)</p>
</div>
<div ng-if="d.loader.done" ng-repeat="doc in d.docs" class="grid-border-top" layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center" layout-padding>
    <div flex>
        <p class="md-title">{{doc.name}}</p>
        <p class="md-caption" style="margin-top:-6px;">{{doc.description}} | Version: {{doc.version}}</p>
    </div>
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <md-button class="md-accent" ng-click="pdf_open(doc)">öffnen</md-button>
        <md-button class="md-primary" ng-click="pdf_download(doc)">speichern</md-button>
    </div>
</div>
<div ng-if="!d.loader.done" layout="row" layout-xs="row" layout-gt-xs="row" layout-align="center center">
    <div>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <br>
        <p class="md-caption" style="text-align: center;">{{d.loader.count}}/{{d.loader.actions}}</p>
    </div>
</div>
<div id="iframeContainer" style="position: absolute; width: 100%;"></div>
include(../lib/html/optinomic/page/end.m4)
