__opapp_include(../lib/html/optinomic/page/start.m4)
<div ng-if="d.ks.init">
    <div>
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
            <div flex>
                <h3 class="md-headline">Klinikstichprobe</h3>
                <p class="md-subhead">Daten-Explorer (N-Dimensionen)</p>
            </div>
        </div>
    </div>
    <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between center">
        <md-input-container flex ng-class="md-block" ng-repeat="dim in d.ks.dimensions_app">
            <label>{{dim.name}}</label>
            <md-select ng-model="dim.selected" ng-change="changeDimenstions()">
                <md-option ng-repeat="item in dim.array" ng-value="item">
                    {{item.text}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div ng-if="d.ks.md.selected">
        <div class="grid-border-top" style="margin-top: 30px;">
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
                <div flex>
                    <h3 class="md-headline">Daten-Explorer</h3>
                </div>
            </div>
        </div>
        <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between center">
            <md-input-container flex ng-class="md-block">
                <label>Datenexplorer</label>
                <md-select ng-model="d.ks.result_explorer.selected">
                    <md-option ng-repeat="item in d.ks.result_explorer.types" ng-value="item">
                        {{item.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex ng-class="md-block" ng-if="d.ks.result_explorer.selected.id !== 0">
                <label>Datenexplorer</label>
                <md-select ng-model="d.ks.result_explorer.selected_var">
                    <md-option ng-repeat="item in d.ks.user_app_calc.definitions.variables_array" ng-value="item">
                        {{item}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div ng-if="d.ks.result_explorer.selected.id === 0">
            <div class="grid-border-top" style="margin-top: 30px;">
                <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
                    <div flex>
                        <h3 class="md-headline">Alle Daten</h3>
                    </div>
                </div>
            </div>
            <p class="md-headline">Statistic</p>
            <p class="md-subhead">{{d.ks.md.selected_info.current_location_text}}</p>
            <pre>{{d.ks.md.selected.statistics | json}}</pre>
            <p class="md-headline">Scores & Patients</p>
            <p class="md-subhead">{{d.ks.md.selected_info.current_location_text}}</p>
            <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start" layout-margin>
                <div flex>
                    <p class="md-subhead">Scores</p>
                    <pre>{{d.ks.md.selected.scores | json}}</pre>
                </div>
                <div flex>
                    <p class="md-subhead">Patients</p>
                    <pre>{{d.ks.md.selected.patients | json}}</pre>
                </div>
            </div>
        </div>
        <div ng-if="d.ks.result_explorer.selected.id !== 0">
            <div class="grid-border-top" style="margin-top: 30px;">
                <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
                    <div flex>
                        <h3 class="md-headline">{{d.ks.result_explorer.selected_var}}</h3>
                        <p class="md-subhead">{{d.ks.md.selected_info.current_location_text}}</p>
                    </div>
                </div>
            </div>
            <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start" layout-margin>
                <div flex="60">
                    <p class="md-title">Statistic</p>
                    <pre>{{d.ks.md.selected.statistics[d.ks.result_explorer.selected_var] | json}}</pre>
                </div>
                <div flex="25">
                    <p class="md-title">Scores</p>
                    <pre>{{d.ks.md.selected.scores[d.ks.result_explorer.selected_var] | json}}</pre>
                </div>
                <div flex="15">
                    <p class="md-title">Patients</p>
                    <pre>{{d.ks.md.selected.patients | json}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!d.ks.md.selected">
        <md-content class="md-padding">
            <h1 class="md-display-2"><i class="mdi mdi-bell-outline"></i> Keine Daten</h1>
            <p class="md-subhead">{{d.ks.md.selected_info.current_location_text}}</p>
            <p class="flow-text">&nbsp;</p>
        </md-content>
    </div>
</div>
<div ng-if="!d.ks.init">
    <md-content class="md-padding">
        <h1 class="md-display-2">Optinomic berechnet gerne für Sie!</h1>
        <p class="md-subhead"><i class="mdi mdi-bell-outline"></i> Vergessen Sie allen über Statistik, was Sie bereits vergessen haben.</p>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        <p class="flow-text">&nbsp;</p>
    </md-content>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
