include(../lib/html/optinomic/page/start.m4)
<div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between center">
    <md-input-container flex ng-class="md-block" ng-repeat="dim in d.ks.dimensions_app">
        <label>{{dim.name}}</label>
        <md-select ng-model="dim.selected" ng-change="changeDimenstions()">
            <md-option ng-repeat="item in dim.array" ng-value="item">
                {{item.text}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div>
    <p class="md-headline">Results</p>
    <pre>{{d.ks.md.selected.statistics | json}}</pre>
    <pre>{{d.ks.md.selected.scores | json}}</pre>
    <pre>{{d.ks.md.selected.patients | json}}</pre>
</div>
<div ng-if="d.ks.md.selected === Null">
    <md-content class="md-padding">
        <h1 class="md-display-2"><i class="mdi mdi-bell-outline"></i> {{d.ks.md.selected_info.current_location_text}}</h1>
        <p class="flow-text">Keine Daten verfügbar | No data available.</p>
        <p class="flow-text">&nbsp;</p>
    </md-content>
</div>
include(../lib/html/optinomic/page/end.m4)
