<h3 class="md-headline">Erffassungs - Details</h3>
<div md-margin md-padding>
    <div ng-init="d.show_patient = false" class="grid-border-top">
        <p class="md-title" style="color:#3F51B5">Patient (Alle Angaben)</p>
        <div ng-if="d.show_patient === false">
            <md-button ng-click="d.show_patient = !d.show_patient" class="md-accent">Anzeigen</md-button>
        </div>
        <div ng-if="d.show_patient === true">
            <md-button ng-click="d.show_patient = !d.show_patient;" class="md-accent">Schliessen</md-button>
            <pre>
			{{d.details.patient | json}}
		</pre>
            <md-button ng-click="d.show_patient = !d.show_patient;" class="md-accent">Schliessen</md-button>
        </div>
    </div>
    <div>&nbsp;</div>
    <div ng-init="d.show_stay = false" class="grid-border-top">
        <p class="md-title" style="color:#3F51B5">Fall</p>
        <div ng-if="d.show_stay === false">
            <md-button ng-click="d.show_stay = !d.show_stay" class="md-accent">Anzeigen</md-button>
        </div>
        <div ng-if="d.show_stay === true">
            <md-button ng-click="d.show_stay = !d.show_stay" class="md-accent">Schliessen</md-button>
            <pre>
			{{d.details.stay | json}}
		</pre>
            <md-button ng-click="d.show_stay = !d.show_stay" class="md-accent">Schliessen</md-button>
        </div>
    </div>
    <div>&nbsp;</div>
    <div ng-init="d.show_event = false" class="grid-border-top">
        <p class="md-title" style="color:#3F51B5">Event / Task</p>
        <div ng-if="d.show_event === false">
            <md-button ng-click="d.show_event = !d.show_event" class="md-accent">Anzeigen</md-button>
        </div>
        <div ng-if="d.show_event === true">
            <md-button ng-click="d.show_event = !d.show_event" class="md-accent">Schliessen</md-button>
            <pre>
			{{d.details.event | json}}
		</pre>
            <md-button ng-click="d.show_event = !d.show_event" class="md-accent">Schliessen</md-button>
        </div>
    </div>
    <div>&nbsp;</div>
    <div ng-init="d.show_response = false" class="grid-border-top">
        <p class="md-title" style="color:#3F51B5">Antworten / Survey-Response</p>
        <div ng-if="d.show_response === false">
            <md-button ng-click="d.show_response = !d.show_event" class="md-accent">Anzeigen</md-button>
        </div>
        <div ng-if="d.show_response === true">
            <md-button ng-click="d.show_response = !d.show_event" class="md-accent">Schliessen</md-button>
            <pre>
			{{d.details.response | json}}
		</pre>
            <md-button ng-click="d.show_response = !d.show_event" class="md-accent">Schliessen</md-button>
        </div>
    </div>
</div>
