<h3 class="md-headline">Erffassungs - Details</h3>
<div md-margin md-padding>
    <h3 class="md-title">{{d.app.details.patient.data.last_name}} {{d.app.details.patient.data.first_name}} ({{d.app.details.patient.data.birthdate | date}})</h3>
    <div ng-repeat="stay in d.app.details.patient.fulfillment.data">
        <p class="md-subhead">Aufenthalt ({{stay[0].sr_stay_id}}): {{stay[0].s_start | date}} | {{stay[0].s_start_year_week}}</p>
        <div ng-repeat="resp in stay">
            <p class="md-capition">Event: {{resp.e_survey_name}} | {{resp.e_created_at | date}} | {{resp.e_description}} {{resp.e_done}}</p>
        </div>
    </div>
</div>
