include(../lib/html/optinomic/page/start.m4)
<div ng-repeat="current_result in d.dataMain.calculations[0].calculation_results">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">WHOQOL - PHYS / Psych</span>
                <span class="md-subhead">Physische Lebensqualität</span>
                <score-threshold score="current_result.PHYS_avg" min="0" max="100" show-percent-scale="true" show-min-max="true"></score-threshold>
                <span class="md-subhead">Psychische Lebensqualität</span>
                <score-threshold score="current_result.PSYCH_avg" min="0" max="100" show-percent-scale="true" show-min-max="true"></score-threshold>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
include(../lib/html/optinomic/page/end.m4)
