__opapp_include(../lib/html/optinomic/page/start.m4)
<div ng-init="d.navigator = 0">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <h3 ng-if="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.Erhebungszeitpunkt === '1'" class="md-subhead">Eintritt</h3>
            <h3 ng-if="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.Erhebungszeitpunkt === '2'" class="md-subhead">Austritt</h3>
            <h3 ng-if="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.Erhebungszeitpunkt === '3'" class="md-subhead">{{d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.andererZeitpunkt}}</h3>
            <div>
                <p ng-if="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.Substanz === '1'"> Die Fragen wurden in Bezug auf Alkohol ausgefüllt. </p>
                <p ng-if="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.Substanz === '2'"> Die Fragen wurden in Bezug auf {{d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.response.data.response.SubstAndere}} ausgefüllt. </p>
            </div>
            <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
                <div flex="10" layout-gt-xs="row" layout-xs="column" layout-align="space-between start">
                    <p flex class="md-body-2" style="text-align: center">keine Versuchung</p>
                </div>s
                <div flex="80">
                    <score-threshold score="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.score" min="0" max="80" show-percent-scale="true" show-min-max="true"></score-threshold>
                </div>
                <div flex="10" layout-gt-xs="row" layout-xs="column" layout-align="space-between start">
                    <p flex class="md-body-2" style="text-align: center">starke Versuchung</p>
                </div>
            </div>
            <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
                <div flex>
                    <p class="md-body-2" style="margin-top:12px;">Negativer Affekt</p>
                    <score-threshold score="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.mean_negativer_affekt" min="0" max="4" show-percent-scale="true" show-min-max="true"></score-threshold>
                </div>
                <div flex>
                    <p class="md-body-2" style="margin-top:12px;">Soziale Situationen</p>
                    <score-threshold score="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.mean_soziale_situationen" min="0" max="4" show-percent-scale="true" show-min-max="true"></score-threshold>
                </div>
            </div>
            <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
                <div flex>
                    <p class="md-body-2" style="margin-top:12px;">Somatisches Unwohlsein</p>
                    <score-threshold score="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.mean_somatisches_unwohlsein" min="0" max="4" show-percent-scale="true" show-min-max="true"></score-threshold>
                </div>
                <div flex>
                    <p class="md-body-2" style="margin-top:12px;">Entzugserscheinungen</p>
                    <score-threshold score="d.dataMain.survey_responses[d.navigator].calculations['0'].calculation_result.mean_entzugserscheinungen" min="0" max="4" show-percent-scale="true" show-min-max="true"></score-threshold>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <md-button ng-if="d.dataMain.survey_responses.length > 1" class="md-icon-button md-accent" aria-label="Prev" ng-click="prev()">
                <i class="mdi mdi-chevron-left"></i>
            </md-button>
            <p flex class="md-subhead" style="text-align:center;">{{d.dataMain.survey_responses[d.navigator].entity.data.filled | date}} <span class="md-caption">({{d.navigator + 1}}/{{d.dataMain.survey_responses.length}})</span></p>
            <md-button ng-if="d.dataMain.survey_responses.length > 1" class="md-icon-button md-accent" aria-label="Next" ng-click="next()">
                <i class="mdi mdi-chevron-right"></i>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
