include(../lib/html/optinomic/page/start.m4)
<md-content>
    <div ng-if="d.diagnoses.length > 0" ng-repeat="entry in d.diagnoses | orderBy:d.appInit.predicate:d.appInit.reverse | filter:d.appInit.filter">
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="start start" layout-padding>
            <div>
                <p class="flow-text">{{entry.diagn_rank}}.&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div flex>
                <a target="_blank" ng-href="{{entry.icd_url_info}}">
                    <p class="flow-text" ng-bind-html="entry.custom_text_html"></p>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="d.diagnoses.length === 0">
        <div layout="row" layout-gt-xs="row" layout-align="start start" layout-padding>
            <div flex>
                <p class="flow-text">Keine Diagnosen.</p>
            </div>
        </div>
    </div>
</md-content>
include(../lib/html/optinomic/page/end.m4)
