__opapp_include(../lib/html/optinomic/page/start.m4) __opapp_include(templates/toolbar.html)
<div ng-if="d.appState === 'show'">
    __opapp_include(templates/diagnoses_list.html)
</div>
<div ng-if="d.appState === 'edit'">
    __opapp_include(templates/diagnoses_edit.html)
</div>
<div ng-if="d.appState === 'new'">
    __opapp_include(templates/diagnoses_edit.html)
</div>
<div ng-if="d.appState === 'settings'">
    __opapp_include(templates/diagnoses_settings.html)
</div>
<div>&nbsp;</div>
<div class="optinomic-page-fab" ng-if="d.appState === 'show'">
    <md-button ng-click="entryNew()" class="md-fab" aria-label="Hinzufügen" style="background-color: #E91E63;">
        <i class="md-title mdi mdi-plus" style="font-size:41px; color:#FCE4EC; padding-top:7px;"></i>
        <md-tooltip md-direction="left">
            Neue Diagnose erfassen
        </md-tooltip>
    </md-button>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
