include(../lib/html/optinomic/page/start.m4)
<div style="margin-top: 30px;">
    <div>
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
            <div flex>
                <h3 class="md-headline">{{d.app.patients.data.length}} Patienten</h3>
            </div>
        </div>
        <div ng-repeat="patient in d.app.patients.data" class="grid-border-top">
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                <div flex>
                    <h3 class="md-subhead">{{patient.data.extras.name}}</h3>
                </div>
            </div>
            <div ng-repeat="stay in patient.data.stays">
                <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                    <div flex>
                        <h3 class="md-caption">Optinomic PID: {{patient.data.pid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">Optinomic FID: {{stay.id}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">CIS_FID: {{stay.data.cis_fid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">Polypoint PID: {{stay.poly_pid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">Polypoint FID: {{stay.poly_fid}}</h3>
                    </div>
                </div>
                <div ng-repeat="bel in stay.polypoint_belegung.rows">
                    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                        <div flex>
                            <h3 class="md-caption">PAID: {{bel.PAID}} | FAID: {{bel.PAID}}</h3>
                        </div>
                        <div flex>
                            <h3 class="md-caption">{{bel.ORG}}</h3>
                        </div>
                        <div flex>
                            <h3 class="md-caption">{{bel.STATION}} | {{bel.ZIMMER}}</h3>
                        </div>
                        <div flex>
                            <h3 class="md-caption">{{bel.BEGINN | date}} - {{bel.ENDE | date}} ({{bel.DAUER_TAGE}})</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
