include(../lib/html/optinomic/page/start.m4)
<div style="margin-top: 30px;">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <div flex>
            <h3 class="md-headline">Logs</h3>
        </div>
        <div>
            <p class="md-caption">Anzahl: {{d.logs.length}}</p>
        </div>
    </div>
    <div ng-init="log.show_details = false" ng-repeat="log in d.logs" class="grid-border-top">
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
            <div flex>
                <h3 class="md-caption">{{log.date | date}}</h3>
            </div>
            <div flex>
                <p class="md-caption">{{log.name}}</p>
            </div>
            <div flex>
                <p class="md-caption">{{formatNumber(log.timings.duration_min)}}</p>
            </div>
            <div flex>
                <p class="md-caption">{{log.count.patients}} | {{log.count.stays}}</p>
            </div>
            <div flex>
                <md-button ng-if="!log.show_details" ng-click="log.show_details = true">Anzeigen</md-button>
                <md-button ng-if="log.show_details" ng-click="log.show_details = false">Ausblenden</md-button>
            </div>
        </div>
        <div ng-if="log.show_details">
            <pre>{{log | json}}</pre>
            <md-button ng-click="log.show_details = false">Ausblenden</md-button>
        </div>
    </div>
</div>
<div style="margin-top: 30px;" class="grid-border-top">
    <div>
        <div layout="row" layout-xs="row" layout-g t-xs="row" layout-align="space-between center">
            <div flex>
                <h3 class="md-headline">{{d.app.patients.data.length}} Patienten</h3>
            </div>
            <div>
                <p class="md-caption">{{d.app.status.text}}</p>
            </div>
        </div>
        <div ng-repeat="patient in d.app.patients.data" class="grid-border-top">
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                <div flex>
                    <h3 class="md-subhead">{{patient.data.extras.name}} ({{patient.data.extras.birthday_age}})</h3>
                </div>
            </div>
            <div ng-repeat="stay in patient.data.stays">
                <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                    <div flex>
                        <h3 class="md-caption">Optinomic PID: {{patient.data.pid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">Optinomic FID: {{stay.id}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">CIS_FID: {{stay.data.cis_fid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">Polypoint PID: {{stay.poly_pid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">Polypoint FID: {{stay.poly_fid}}</h3>
                    </div>
                    <div flex>
                        <h3 class="md-caption">{{stay.belegung.current.name}} <small>({{stay.belegung.current.bel_id}})</small></h3>
                    </div>
                </div>
                <div ng-repeat="bel in stay.polypoint_belegung.rows">
                    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                        <div flex="5">
                            &nbsp;
                        </div>
                        <div flex>
                            <h3 class="md-caption">{{bel.ORG}} | {{bel.STATION}} | {{bel.ZIMMER}}</h3>
                        </div>
                        <div flex>
                            <h3 class="md-caption">{{bel.BEGINN | date}} - {{bel.ENDE | date}} | {{bel.DAUER_TAGE}} Tg.</h3>
                        </div>
                        <div>
                            <h3 class="md-caption">PAID:{{bel.PAID}} | FAID:{{bel.PAID}}</h3>
                        </div>
                    </div>
                </div>
                <div>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 96px;">
        <p class="md-headline">Manuelles ausführen:</p>
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
            <div flex>
                <md-button class="md-primary" ng-click="getPatientList(false)">Aktuelle Patienten</md-button>
            </div>
            <div>
                <md-button ng-click="getPatientList(true)">Alle Patienten (8-ung: Dauert ca. 10 Minuten)</md-button>
            </div>
        </div>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
