<h3 class="md-headline">Verlaufseintrag bearbeiten</h3>
<div layout-gt-sm="row" layout-padding>
    <md-input-container>
        <label>datum</label>
        <input ng-model="d.historyNewEntry.datum">
    </md-input-container>
    <md-input-container>
        <label>dauer</label>
        <input ng-model="d.historyNewEntry.dauer">
    </md-input-container>
    <md-input-container>
        <label>user</label>
        <input ng-model="d.historyNewEntry.user">
    </md-input-container>
</div>
<div layout-gt-sm="row" layout-padding>
    <md-input-container>
        <label>Leistungsgruppe</label>
        <md-select ng-model="d.historyNewEntry.tarmed.kapitel_id" aria-label="TARMED Kapitel">
            <md-option ng-repeat="kapitel in d.TARMEDkapitel" value="{{$index}}">
                {{kapitel[0].kapitel_beschreibung}} ({{kapitel[0].kapitel_code}})
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container ng-if="d.historyNewEntry.tarmed.kapitel_id">
        <label>Tarifposition</label>
        <md-select ng-model="d.historyNewEntry.tarmed.selected_tarifpos_code" md-on-close="storeSelectedTARMED()" aria-label="TARMED Tarifpositions">
            <md-option ng-repeat="tarifpos in d.TARMEDkapitel[d.historyNewEntry.tarmed.kapitel_id]" value="{{tarifpos.tarifpos_code}}">
                {{tarifpos.tarifpos_beschreibung}} ({{tarifpos.tarifpos_code}})
            </md-option>
        </md-select>
    </md-input-container>
</div>
<md-input-container class="md-block">
    <label>Verlauf</label>
    <textarea ng-model="d.historyNewEntry.verlauf" columns="1" rows="10"></textarea>
</md-input-container>
<pre>
	{{d.historyEntrys | json}}
</pre>
<md-button class="md-raised" ng-click="entryCancel()">Cancel</md-button>
<md-button class="md-raised" ng-click="putHisoryPost()">Save</md-button>
