<md-content>
    <md-card ng-repeat="entry in d.historyEntrys track by $index">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                	{{entry.tarmed.selected.tarifpos_beschreibung}}
                    	<md-tooltip md-direction="bottom">
                    	{{entry.tarmed.selected.leistungsgruppe_beschreibung}}: {{entry.tarmed.selected.kapitel_beschreibung}}, {{entry.tarmed.selected.tarifpos_beschreibung}} ({{entry.tarmed.selected.tarifpos_code}})
                    	</md-tooltip>
                </span>
                <span class="md-subhead" style="margin-top: -12px;">
                {{entry.datum_day}} | {{entry.dauer * 5}} Minuten | {{entry.user}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="flow-text">{{entry.verlauf}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="entryEdit($index)" aria-label="Bearbeiten">Bearbeiten</md-button>
        </md-card-actions>
    </md-card>
</md-content>
