<md-card>
    <div style="background-color: #424242; color: #FAFAFA">
        <md-card-title>
            <md-card-title-text>
                <span ng-if="d.appState === 'edit'" class="md-headline">Verlaufseintrag bearbeiten</span>
                <span ng-if="d.appState === 'new'" class="md-headline">Neuer Verlaufseintrag erstellen</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-datepicker ng-model="d.historyNewEntry.datum" md-placeholder="Bitte geben Sie das Datum an."></md-datepicker>
        </md-card-content>
    </div>
    <md-card-content>
        <md-input-container class="md-block">
            <label>Verlauf</label>
            <textarea class="flow-text" ng-model="d.historyNewEntry.verlauf" columns="1" rows="10"></textarea>
        </md-input-container>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-align="start center">
        <md-button ng-click="entryCancel()" aria-label="Cancel" style="color: #9E9E9E;">
            <i class="md-title mdi mdi-close-circle-outline"></i> Abbrechen
        </md-button>
        <md-button ng-click="putHisoryPost()" aria-label="Speichern" style="color: #4CAF50;">
            <i class="md-title mdi mdi-content-save"></i> Speichern
        </md-button>
    </md-card-actions>
</md-card>
<div>
    &nbsp;
</div>
<div layout-gt-xs="row" layout-margin>
    <md-datepicker ng-model="d.historyNewEntry.datum" md-placeholder="Enter date"></md-datepicker>
    <md-input-container>
        <label>datum</label>
        <input ng-model="d.historyNewEntry.datum">
    </md-input-container>
    <md-input-container>
        <label>dauer</label>
        <input ng-model="d.historyNewEntry.dauer">
    </md-input-container>
    <md-input-container>
        <label>user</label>
        <input ng-model="d.historyNewEntry.user">
    </md-input-container>
</div>
<div layout-gt-xs="row" layout-margin>
    <md-input-container>
        <label>Leistungsgruppe</label>
        <md-select ng-model="d.historyNewEntry.tarmed.kapitel_id" aria-label="TARMED Kapitel">
            <md-option ng-repeat="kapitel in d.TARMEDkapitel" value="{{$index}}">
                {{kapitel[0].kapitel_beschreibung}} ({{kapitel[0].kapitel_code}})
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container ng-if="d.historyNewEntry.tarmed.kapitel_id">
        <label>Tarifposition</label>
        <md-select ng-model="d.historyNewEntry.tarmed.selected_tarifpos_code" md-on-close="storeSelectedTARMED()" aria-label="TARMED Tarifpositions">
            <md-option ng-repeat="tarifpos in d.TARMEDkapitel[d.historyNewEntry.tarmed.kapitel_id]" value="{{tarifpos.tarifpos_code}}">
                {{tarifpos.tarifpos_beschreibung}} ({{tarifpos.tarifpos_code}})
            </md-option>
        </md-select>
    </md-input-container>
</div>
<md-input-container class="md-block">
    <label>Verlauf</label>
    <textarea class="flow-text" ng-model="d.historyNewEntry.verlauf" columns="1" rows="10"></textarea>
</md-input-container>
<pre>
	{{d.historyNewEntry | json}}
</pre>
