include(../lib/html/optinomic/page/start.m4)
<md-content class="md-padding">
    <div ng-if="d.belegung.aktuell_letzter.bel_all !== null">
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
            <div flex="25">
                <h3 class="md-title">{{d.belegung.selected.bel_selector.name}}</h3>
            </div>
            <div flex>
                <h3 class="md-caption">Polypoint PID/FID: {{d.belegung.selected.bel_selector.polypoint_pid}} / {{d.belegung.selected.bel_selector.polypoint_fid}}</h3>
            </div>
        </div>
        <md-divider></md-divider>
        <div ng-repeat="bel in d.belegung.selected.bel_all.rows">
            <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between center">
                <div flex="5">
                    &nbsp;
                </div>
                <div flex="20">
                    <h3 class="md-caption">{{bel.ORG}} | {{bel.STATION}} | {{bel.ZIMMER}}</h3>
                </div>
                <div flex>
                    <h3 class="md-caption">{{bel.BEGINN | date}} - {{bel.ENDE | date}} | {{bel.DAUER_TAGE}} Tage</h3>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
</md-content>
include(../lib/html/optinomic/page/end.m4)
