__opapp_include(../lib/html/optinomic/page/start.m4)
<div>
    <h5 class="md-subhead">BDI-II Summenwerte und Interpretation</h5>
    <table class="table table-condensed" style="width: 80%;">
        <tr ng-repeat="range in scale_ranges.ranges">
            <td style="text-align:right !important;">
                <small>{{range.from}}-{{range.to}}&nbsp;</small>
            </td>
            <td>
                <small>{{range.result}}</small>
            </td>
        </tr>
    </table>
</div>
__opapp_include(../lib/html/optinomic/page/end.m4)
