<div>
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <div flex>
            <h3 class="md-headline">{{d.dataMain.patient.data.ansprache}} {{d.dataMain.patient.data.extras.name}}</h3>
        </div>
        <md-button ng-click="d.zScore.settings = !d.zScore.settings" class="md-icon-button">
            <i class="mdi mdi-dots-vertical" style="font-size:24px;"></i>
            <md-tooltip md-direction="left">
                Einstellungen
            </md-tooltip>
        </md-button>
    </div>
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between start">
        <div flex="50">
            <p class="md-caption" style="margin-top:-6px;">
                Alter (bei Erfassung):
                <span style="color:#757575">{{d.dataMain.patient.data.extras.age}} Jahre</span>
            </p>
        </div>
        <div flex>
            <p class="md-caption" style="margin-top:-6px;">
                Ausbildung:
                <span style="color:#757575">{{d.dataMain.survey_responses[0].calculations[0].calculation_result.edu_years}} Jahre</span>
            </p>
        </div>
    </div>
</div>
<div class="grid-border-top" style="margin-top: 30px;">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <div flex>
            <h3 class="md-headline">TMT A</h3>
        </div>
        <md-button ng-click="d.zScore.settings = !d.zScore.settings" class="md-icon-button">
            <i class="mdi mdi-dots-vertical" style="font-size:24px;"></i>
            <md-tooltip md-direction="left">
                Einstellungen
            </md-tooltip>
        </md-button>
    </div>
    <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start">
        <div flex>
            <p class="md-subhead">Normstichprobe</p>
            <p class="md-caption" style="color:#757575;margin-top:-6px;">
                Z-Werte aufgrund der Normstichprobe nach Tombaugh (2004):
                <br> {{d.zScore.normgruppe_tmt.age_group.age_group_text}}, {{d.zScore.normgruppe_tmt.edu_group.edu_group_text}}. (N={{d.zScore.normgruppe_tmt.n}})
            </p>
        </div>
        <div flex>
            <p class="md-subhead">Klinikstichprobe </p>
            <div ng-repeat="tmt in d.zScore.tmt_a" ng-init="tmt.visible = checkKSvisible('tmtA', tmt)">
                <p ng-if="tmt.visible" class="md-caption" style="margin-top:-22px;">
                    <span ng-attr-style="font-size:28px;margin-top:4px; color:{{tmt.clinicsample_color}}!important;">■</span>{{tmt.full.Messzeitpunkt.Messzeitpunkt_Text}}:
                    <span style="color:#757575;">
                    {{d.zScore.normgruppe_klinik.selected_age_group.age_group_text}}, {{d.zScore.normgruppe_klinik.selected_edu_group.edu_group_text}} (N={{tmt.n}})
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div ng-repeat="tmt in d.zScore.tmt_a" style="margin-top: 12px;">
        <div ng-init="resp=tmt" layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start">
            <div flex>
                <z-score data="resp" options="d.zScore.options"></z-score>
            </div>
            <div flex="15" style="margin-left: 24px;">
                <p class="md-caption">Zeit: {{tmt.full.TMTATime}}
                    <br>Fehler: {{tmt.full.TMTAError}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="grid-border-top" style="margin-top: 30px;">
    <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
        <div flex>
            <h3 class="md-headline">TMT B</h3>
        </div>
        <md-button ng-click="d.zScore.settings=! d.zScore.settings" class="md-icon-button">
            <i class="mdi mdi-dots-vertical" style="font-size:24px;"></i>
            <md-tooltip md-direction="left">
                Einstellungen
            </md-tooltip>
        </md-button>
    </div>
    <div layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start">
        <div flex>
            <p class="md-subhead">Normstichprobe</p>
            <p class="md-caption" style="color:#757575;margin-top:-6px;">
                Z-Werte aufgrund der Normstichprobe nach Tombaugh (2004):
                <br> {{d.zScore.normgruppe_tmt.age_group.age_group_text}}, {{d.zScore.normgruppe_tmt.edu_group.edu_group_text}}. (N={{d.zScore.normgruppe_tmt.n}})
            </p>
        </div>
        <div flex>
            <p class="md-subhead">Klinikstichprobe </p>
            <div ng-repeat="tmt in d.zScore.tmt_b" ng-init="tmt.visible = checkKSvisible('tmtB', tmt)">
                <p ng-if="tmt.visible" class="md-caption" style="margin-top:-22px;">
                    <span ng-attr-style="font-size:28px;margin-top:4px; color:{{tmt.clinicsample_color}}!important;">■</span>{{tmt.full.Messzeitpunkt.Messzeitpunkt_Text}}:
                    <span style="color:#757575;">
                    {{d.zScore.normgruppe_klinik.selected_age_group.age_group_text}}, {{d.zScore.normgruppe_klinik.selected_edu_group.edu_group_text}} (N={{tmt.n}})
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div ng-repeat="response in d.zScore.tmt_b" style="margin-top: 12px;">
        <div ng-init="resp=response" layout="row" layout-xs="column" layout-gt-xs="row" layout-align="space-between start">
            <div flex>
                <z-score data="resp" options="d.zScore.options"></z-score>
            </div>
            <div flex="15" style="margin-left: 24px;">
                <p class="md-caption">Zeit: {{response.full.TMTBTime}}
                    <br>Fehler: {{response.full.TMTBError}}
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-if="d.zScore.show_ba_quotient">
    <div class="grid-border-top" style="margin-top: 30px;">
        <div layout="row" layout-xs="row" layout-gt-xs="row" layout-align="space-between end">
            <div flex>
                <h3 class="md-headline">B/A Quotient | Eintritt</h3>
            </div>
            <md-button ng-click="d.zScore.settings=! d.zScore.settings" class="md-icon-button">
                <i class="mdi mdi-dots-vertical" style="font-size:24px;"></i>
                <md-tooltip md-direction="left">
                    Einstellungen
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div ng-repeat="response in d.zScore.tmt_ba_quot" style="margin-top: 12px;">
        <z-score data="response" options="d.zScore.options_ba"></z-score>
    </div>
</div>
