<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.19/webcomponents-lite.min.js"></script>
<link rel="import" href="https://cdn.vaadin.com/vaadin-charts/3.0.0-alpha7/charts-component.html">
<dom-module id="chart-behandungsdichte">
    <template>
        <vaadin-spline-chart id="dateAxisAndClickEvent">
            <title>Date axis and click events</title>
            <x-axis type="datetime"></x-axis>
            <legend enabled="false"></legend>
            <data-series>
                <data>
                    <point ng-repeat="entry in d.historyEntrys">
                        <date>{{entry.datum}}</date>
                        <y>{{entry.dauer}}</y>
                    </point>
                </data>
            </data-series>
        </vaadin-spline-chart>
    </template>
    <script>
    Polymer({
        is: 'chart-behandungsdichte',

        showLabel: function(message, xPixels, yPixels) {
            var label = this.$.dateAxisAndClickEvent.chart.renderer.label(message, xPixels, yPixels)
                .attr({
                    fill: Highcharts.getOptions().colors[2],
                    padding: 10,
                    r: 5,
                    zIndex: 8
                })
                .css({
                    color: '#FFFFFF'
                })
                .add();
            this.async(function() {
                label.fadeOut();
            }, 1000);
        }
    });
    </script>
</dom-module>
include(../lib/html/optinomic/page/start.m4)
<p>Behandlungsdichte</p>
<chart-behandungsdichte></chart-behandungsdichte>
<pre>
	{{d.historyEntrys}}
</pre> include(../lib/html/optinomic/page/end.m4)
