<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.19/webcomponents-lite.min.js"></script>
<link rel="import" href="https://cdn.vaadin.com/vaadin-charts/3.0.0-alpha7/charts-component.html">
<!--This example defines a Web Component that binds a property to series data and pushes new points-->
<dom-module id="wc-data-button">
    <template>
        <vaadin-line-chart id="wcDataExample">
            <title>Click button to add point</title>
            <tooltip enabled="false"></tooltip>
            <plot-options>
                <series>
                </series>
            </plot-options>
            <x-axis type="datetime"></x-axis>
            <data-series id="mySeriesId" data="[[mySeriesData]]">
            </data-series>
        </vaadin-line-chart>
        <button on-click="_addSeriesPoint">Add series point</button>
    </template>
    <script>
    Polymer({
        is: 'wc-data-button',
        properties: {
            mySeriesData: {
                type: Array
            }
        },
        _addSeriesPoint: function() {
            var x = (new Date()).getTime(),
                y = Math.random();
            /**
             * Mutations to array properties (push, pop, splice, shift, unshift) must be performed using
             * methods provided on Polymer elements, such that the changes are observable to any elements bound to
             * the same array
             */
            this.push('mySeriesData', [x, y]);
        }
    });
    </script>
</dom-module>
<dom-module id="chart-behandungsdichte">
    <template>
        <vaadin-spline-chart id="dateAxisAndClickEvent">
            <title>Date axis and click events</title>
            <x-axis type="datetime"></x-axis>
            <legend enabled="false"></legend>
            <data-series>
                <data>
                    <point>
                        <date>2013-02-11T12:00</date>
                        <y>71.5</y>
                    </point>
                    <point>
                        <date>2013-02-11T12:05</date>
                        <y>29.9</y>
                    </point>
                    <point>
                        <date>2013-02-11T12:10</date>
                        <y>106.4</y>
                    </point>
                    <point>
                        <date>2013-03-11T12:00</date>
                        <y>71.5</y>
                    </point>
                    <point>
                        <date>2013-03-11T12:05</date>
                        <y>29.9</y>
                    </point>
                    <point>
                        <date>2013-03-11T12:10</date>
                        <y>106.4</y>
                    </point>
                </data>
            </data-series>
            <data-series name="Tokyo" data="[[seriesData]]"></data-series>
        </vaadin-spline-chart>
    </template>
    <script>
    Polymer({
        is: 'chart-behandungsdichte',

        properties: {
            seriesData: {
                type: Array,

                value: [{
                    date: '2013-03-08T12:05',
                    y: 56
                }, {
                    date: '2013-03-09T12:05',
                    y: 156
                }, {
                    date: '2013-03-12T12:05',
                    y: 46
                }]
            }
        },

        showLabel: function(message, xPixels, yPixels) {
            var label = this.$.dateAxisAndClickEvent.chart.renderer.label(message, xPixels, yPixels)
                .attr({
                    fill: Highcharts.getOptions().colors[2],
                    padding: 10,
                    r: 5,
                    zIndex: 8
                })
                .css({
                    color: '#FFFFFF'
                })
                .add();
            this.async(function() {
                label.fadeOut();
            }, 1000);
        }
    });
    </script>
</dom-module>
include(../lib/html/optinomic/page/start.m4)
<p>Behandlungsdichte</p>
<wc-data-button></wc-data-button>
<p>Behandlungsdichte - outside DATA</p>
<wc-data-button my-series-data="{{d.mySeriesData}}"></wc-data-button>
<p>Behandlungsdichte</p>
<button on-click="_addSeriesPoint">Add series point</button>
<chart-behandungsdichte></chart-behandungsdichte>
<pre>
	{{d.historyEntrys}}
</pre> include(../lib/html/optinomic/page/end.m4)
