<!--This example defines a Web Component that binds a property to series data and pushes new points-->
<dom-module id="chart-behandlungsdichte">
    <template>
        <template is="dom-repeat" items="[[mySeriesData]]">
            <div># <span>{{index}}</span></div>
            <div>{{item.name}}</div>
        </template>
        <vaadin-line-chart id="chart">
            <title>Behandlungsdichte</title>
            <tooltip enabled="false"></tooltip>
            <plot-options>
                <series>
                </series>
            </plot-options>
            <x-axis type="datetime"></x-axis>
            <data-series is="dom-repeat" items="[[mySeriesData]]" id="SeriesID{{index}}" name="{{item.name}}" data="{{item.data}}">
            </data-series>
        </vaadin-line-chart>
    </template>
    <script>
    Polymer({
        is: 'chart-behandlungsdichte',

        ready: function() {
            console.log('(READY) chart-behandlungsdichte', this);
        },

        created: function() {
            console.log('(created) chart-behandlungsdichte', this);
        },

        properties: {
            mySeriesData: {
                type: Array
            }
        }

    });
    </script>
</dom-module>
