<!--This example defines a Web Component that binds a property to series data and pushes new points-->
<dom-module id="chart-behandlungsdichte">
    <template>
        <template is="dom-repeat" items="[[chartdata]]">
            <div># <span>{{index}}</span></div>
            <div>{{item.name}}</div>
        </template>
        <vaadin-line-chart id="chart">
            <title>Behandlungsdichte</title>
            <tooltip enabled="false"></tooltip>
            <plot-options>
                <series>
                </series>
            </plot-options>
            <x-axis type="datetime"></x-axis>
            <data-series id="SeriesID" name="test" data="[[chartdata.0.data]]">
            </data-series>
        </vaadin-line-chart>
    </template>
    <script>
    Polymer({
        is: 'chart-behandlungsdichte',

        properties: {
            chartdata: {
                type: Array
            }
        },

        observers: [
            'updateData(chartdata)'
        ],

        updateData: function(chartdata) {
            console.log('(updateData) chart-behandlungsdichte', chartdata);

            var chartWC = this.$.chart;

            console.log('(updateData) chartWC', chartWC);

            if (chartWC) {
                var chart = chartWC.chart;
                if (chart && chart.series) {

                    chart.series[1] = {};
                    var data = chartdata[0].data;

                    console.log('(updateData) async', data, chart);

                    chart.series[1].setData(data);
                }
            };

        }



    });
    </script>
</dom-module>
