<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.contentWindow.min.js"></script>
</head>
<div style="width:100%; height: 650px !important">
    <table style="width:100%">
        <tr>
            <th style="width:20%">
                <p>
                    <canvas id="upcoming"></canvas>
                </p>
                <p id="start"><a href="javascript:play();">Drücken Sie «Space» um das Spiel zu beginnen</a></p>
                <p class="md-subhead">Ergebnis <span id="score">00000</span></p>
                <p class="md-subhead">Reihen <span id="rows">0</span></p>
            </th>
            <th style="width:80%">
                <div id="tetris">
                    <canvas id="canvas">
                        Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
                    </canvas>
                </div>
            </th>
        </tr>
    </table>
</div>
<div data-iframe-height>&nbsp;</div>
