<div>
    <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start">
        <div flex="50" layout="column">
            <md-card ng-hide="thankyou">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">TMT-Erhebung</span>
                        <

--> Auswahl: Eintritt / Austritt / Verlauf
<div>
    <p>Selected Value: <span class="radioValue">{{ data.group1 }}</span> </p>
    <md-radio-group ng-model="data.group1">
      <md-radio-button value="Eintritt" class="md-primary">Eintritt</md-radio-button>
      <md-radio-button value="Austritt"> Austritt </md-radio-button>
      <md-radio-button value="anderer Zeitpunkt">anderer Zeitpunkt</md-radio-button>
    </md-radio-group>
</div>


--> Eingabe Alter[18-120] - Zeit A [0-180] - Fehler A[0-100] - Zeit B [0-300] - Fehler B[0-100]

<div>
    <md-content layout-padding>
        <form name="projectForm">
            <md-input-container class="md-block">
                <label>Alter (in abgeschlossenen Lebensjahren)</label>
                <input required type="number" step="any" name="rate" ng-model="project.rate" min="18"
               max="100">
                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                        Bitte trage hier das Alter von Patient X ein.
                        </div>
                        <div ng-message="min">
                        Das ist nicht möglich - der Patient kann nicht jünger als 18 Jahre alt sein.     
                        </div>
                        <div ng-message="max">
                        Sind Sie sich ganz sicher, dass der Patient noch lebt?
                        </div>
                    </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Ausbildungsjahre</label>
                <input required type="number" step="any" name="rate" ng-model="project.rate" min="6"
               max="40">
                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                        Hier fehlt die Angabe zur Zeit, die Patient X für die Ausführung des TMT A gebraucht hat.
                        </div>
                        <div ng-message="min">
                        Sind Sie sicher, dass der Patient keine obligatorische Schule abgeschlossen hat?     
                        </div>
                        <div ng-message="max">
                        Ausbildungsjahre meint Schuljahre und Jahre der ersten Berufsausbildung (resp. bei Zweitausbildungen zählt die jeweils höher qualifizierende), z.B. 9 Jahre Schule + 3 Jahre Berufslehre gibt 12 Ausbildungsjahre, oder 12 Jahre Schule (z.B. Matur) + 5 Jahre Studium gibt 17 Ausbildungsjahre.  
 
                        Bei der Schule zählt die Anzahl Jahre, die man üblicherweise für den jeweiligen Schultyp benötigt, d.h. wenn jemand eine Klasse wiederholen muss, sollte dieses Jahr nicht gezählt werden. Das gleiche gilt für die Berufsausbildung, insbesondere bei Studiengängen: wenn jemand aus persönlichen Gründen 8 Jahre für einen Studienabschluss benötigt, den man eigentlich in 5 Jahren erreichen könnte, werden 5 Jahre gezählt, etc. 
 

                        Berufliche Weiterbildungen und Zusatzqualifikationen werden nicht mehr zur Ausbildung gezählt. 
                        </div>
                    </div>
            </md-input-container>          
            <md-input-container class="md-block">
                <label>TMT A (Zeit in Sekunden)</label>
                <input required type="number" step="any" name="rate" ng-model="project.rate" min="0"
               max="180">
                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                        Hier fehlt die Angabe zur Zeit, die Patient X für die Ausführung des TMT A gebraucht hat.
                        </div>
                        <div ng-message="max">
                        Das ist nicht möglich - die maximal zur Verfügung stehende Zeit beträgt 3 Minuten bzw. 180 Sekunden.
                        </div>
                    </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>TMT A (Fehler)</label>
                <input required type="number" step="any" name="rate" ng-model="project.rate" min="0"
               max="180">
                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                        Hier fehlt die Angabe zur Anzahl Fehler, die Patient X während der Ausführung des TMT A gebraucht hat.
                        </div>
                    </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>TMT B (Zeit in Sekunden)</label>
                <input required type="number" step="any" name="rate" ng-model="project.rate" min="0"
               max="300">
                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                        Hier fehlt die Angabe zur Zeit, die Patient X für die Ausführung des TMT B gebraucht hat.
                        </div>
                        <div ng-message="max">
                        Das ist nicht möglich - die maximal zur Verfügung stehende Zeit beträgt 5 Minuten bzw. 300 Sekunden.
                        </div>
                    </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>TMT B (Fehler)</label>
                <input required type="number" step="any" name="rate" ng-model="project.rate" min="0"
               max="180">
                    <div ng-messages="projectForm.rate.$error" multiple md-auto-hide="false">
                        <div ng-message="required">
                        Hier fehlt die Angabe zur Anzahl Fehler, die Patient X während der Ausführung des TMT B gebraucht hat.
                        </div>

                    </div>
            </md-input-container>
      <p style="font-size:.8em; width: 100%; text-align: center;">
        Make sure to include <a href="https://docs.angularjs.org/api/ngMessages" target="_blank">ngMessages</a> module when using ng-message markup.
      </p>
    </form>
  </md-content>
</div>



--> Link zu Cerad-Testbatterie inkl. Login-Daten

      <p style="font-size:.8em; width: 100%; text-align: center;">
        Für die Auswertung bitte dem Link <a href="http://www.memoryclinic.ch/ceradnew/index.php"> hier zur CERAD Testbatterie </a> folgen und die Angaben zum TMT eingeben.
        <b>Login-Daten:</b>
        E-Mail: sonja.kaufmann@suedhang.ch
        Passwort: Assessment
        <b>Anleitung:</b> Patient/in eröffnen, Werte eingben. Die Auswertungen (z-Werte) in die untenstehenden Felder eintragen.
      </p>

https://material.angularjs.org/latest/demo


                        <span class="md-subhead">Bitte beantworten Sie spontan.</span>
                        <md-slider flex class="md-primary" md-discrete ng-model="result.score" step="1" min="0" max="10" aria-label="score">
                        </md-slider>
                        <span class="md-caption">Legende: 0 = sehr schlecht | 10 = sehr gut</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="saveresult()">Speichern</md-button>
                </md-card-actions>
            </md-card>
            <div ng-show="thankyou">
                <h1 class="md-display-4">Herzlichen Dank</h1>
                <span class="md-subhead" style="margin-top:-48px;">
                Ihre Eingabe wurde erfolgreich gespeichert! Sie können nun dieses Fenster schliessen.
                </span>
            </div>
        </div>
    </md-content>
</div>