include(../lib/html/optinomic/page/start.m4)
<div layout="row" layout-align="start end">
    <div flex hide-sm>
        <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
    </div>
    <div>
        <md-input-container>
            <label>Filter <i class="mdi mdi-filter-outline"></i></label>
            <input ng-model="d.grid.options.quickFilterText">
        </md-input-container>
    </div>
    <div>
        <md-button ng-click="d.functions.resizeGrid()" class="md-primary" aria-label="Resize">
            Resize
        </md-button>
        <md-button ng-click="d.functions.toggleToolPanel()" class="md-primary" aria-label="Tool">
            Toolbox
        </md-button>
    </div>
</div>
<div ag-grid="d.grid.options" class="ag-optinomic" style="width: 100%; height: 410px;"></div>
<p class="small md-caption">
    <span class="small md-caption" ng-repeat="selecteRow in d.grid.options.selectedNodesById">
        :: {{selecteRow.data.datestamp}} | <b>{{selecteRow.data.Suchtdruck_1}}</b> ({{selecteRow.id}})
    </span>
</p>
include(../lib/html/optinomic/page/end.m4)
