include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Download: {{d.dataMain.apps.current.name}}</h3>
<div>
    <md-input-container class="md-block">
        <label>SQL</label>
        <textarea ng-model="d.export.sql_field" columns="1000"></textarea>
    </md-input-container>
</div>
<div layout="row" layout-sm="column" layout-align="start end">
    <div flex>
        <md-select ng-model="d.export.format" ng-init="csv">
            <md-option value="csv">CSV</md-option>
            <md-option value="json">JSON</md-option>
        </md-select>
    </div>
    <div flex>
        <md-select ng-model="d.export.direct" ng-init="csv">
            <md-option value="True">File-Download</md-option>
            <md-option value="False">Bildschrim</md-option>
        </md-select>
    </div>
    <div flex ng-if="d.export.format === 'csv'">
        <md-select ng-model="d.export.header" ng-init="True">
            <md-option value="True">With header</md-option>
            <md-option value="False">No header</md-option>
        </md-select>
    </div>
    <div flex ng-if="d.export.format === 'csv'">
        <md-select ng-model="d.export.delimitter" ng-init=";">
            <md-option value=";">Semicolon (;)</md-option>
            <md-option value=",">Comma (,)</md-option>
            <md-option value="|">Pipe (|)</md-option>
        </md-select>
    </div>
</div>
<div>
    <md-button ng-click="export()" class="md-primary" aria-label="Export">
        Run SQL
    </md-button>
</div>
<div ng-if="d.export.have_data">
    <pre>{{d.export.data}}</pre>
</div>
include(../lib/html/optinomic/page/end.m4)
