include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Download: {{d.dataMain.apps.current.name}}</h3>
<div layout="row" layout-sm="column" layout-align="start end">
    <div flex>
        <md-select ng-model="file" ng-init="1">
            <md-option value="1">SQL - field</md-option>
            <md-option value="2">All Tables</md-option>
        </md-select>
    </div>
    <div>
        <md-select ng-model="delimitter" ng-init="1">
            <md-option value=";">Semicolon (;)</md-option>
            <md-option value=",">Comma (,)</md-option>
            <md-option value="|">Pipe (|)</md-option>
        </md-select>
    </div>
</div>
<div>
    <md-button ng-click="" class="md-primary" aria-label="Tool">
        Download (not implemented)
    </md-button>
</div>
include(../lib/html/optinomic/page/end.m4)
