include(../lib/html/optinomic/page/start.m4)
<div>
    <h3 class="md-headline">Die Depressions-Angst-Stress-Skalen (DASS)</h3>
</div>
<div ng-repeat="calculation in d.dataMain.calculations[0].calculation_results" layout="column" layout-gt-xs="column" layout-sm="column" layout-align="space-between stretch">
    <div flex>
        <h3 class="md-subhead">Depression</h3>
        <score-threshold score="calculation.depression_scale_score" scale-ranges="d.depression_scale_range" min="0" max="21" show-percent-scale="true" show-min-max="true"></score-threshold>
        <h3 class="md-subhead">Angst</h3>
        <score-threshold score="calculation.angst_scale_score" scale-ranges="d.angst_scale_range" min="0" max="21" show-percent-scale="true" show-min-max="true"></score-threshold>
        <h3 class="md-subhead">Stress</h3>
        <score-threshold score="calculation.stress_scale_score" scale-ranges="d.stress_scale_range" min="0" max="21" show-min-max="true"></score-threshold>
        <p class="md-caption text-muted">{{calculation.response.data.filled}}</p>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
