include(../lib/html/optinomic/page/start.m4)
<div layout="row" layout-gt-xs="row" layout-sm="row" layout-align="start stretch">
    <div hide-sm>
        <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
    </div>
    <div>
        <md-button style="font-size: 18px;" ng-click="d.functions.resizeGrid()" class="md-primary md-icon-button" aria-label="Resize">
            <i class="mdi mdi-auto-fix"></i>
            <md-tooltip md-direction="bottom">
                Grösse anpassen
            </md-tooltip>
        </md-button>
        <md-button style="font-size: 18px;" ng-click="d.functions.toggleToolPanel()" class="md-primary md-icon-button" aria-label="Tool">
            <i class="mdi mdi-table-edit"></i>
            <md-tooltip md-direction="bottom">
                Toolpanel ein-/ausblenden
            </md-tooltip>
        </md-button>
    </div>
    <div flex>
        <md-input-container class="md-block md-primary">
            <label><i class="mdi mdi-filter"></i> Filter</label>
            <input ng-model="d.grid.options.quickFilterText">
        </md-input-container>
    </div>
</div>
<div ag-grid="d.grid.options" class="ag-optinomic" style="width: 100%; height: 410px;"></div>
<p class="small md-caption">
    <span class="small md-caption" ng-repeat="selecteRow in d.grid.options.selectedNodesById">
        :: {{selecteRow.data.datestamp}} | <b>{{selecteRow.data.Suchtdruck_1}}</b> ({{selecteRow.id}})
    </span>
</p>
include(../lib/html/optinomic/page/end.m4)
