<div ng-init="result.current_item = 0">
    <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start">
        <div flex="50" layout="column">
            <div ng-hide="thankyou">
                <md-card ng-if="result.current_item === 0">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-display-1" style="color:#3F51B5">Die Depressions-Angst-Stress-Skalen (DASS)</span>
                            <span class="md-subhead" style="color:#9E9E9E">Screening auf Depressivität, Angst und Stress.</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="md-body-1">Bitte lesen Sie jede Aussage aufmerksam durch. Beurteilen Sie, wie sehr die Aussage während <b>der letzten Woche</b> auf Sie zutraf. Es gibt keine richtigen oder falschen Antworten. Versuchen Sie, sich spontan für eine Antwort zu entscheiden.</p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="result.current_item = result.current_item + 1">Start</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 1">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">1.) Ich fand es schwer, mich zu beruhigen.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_01 = result.dass_item_01 === undefined ? 0 : result.dass_item_01" ng-model="result.dass_item_01" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="md-caption text-muted">Legende: {{result.dass_item_01}}</p>
                        <p ng-click="result.dass_item_01 = 0" class="md-body-1">
                            0: Traf gar nicht auf mich zu
                            <span ng-if="result.dass_item_01 = 0" style="color:#4CAF50; font-size:18px;">✓</span>
                        </p>
                        <p ng-click="result.dass_item_01 = 1" class="md-body-1">
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal
                            <span ng-if="result.dass_item_01 = 1" style="color:#4CAF50; font-size:18px;">✓</span>
                        </p>
                        <p ng-click="result.dass_item_01 = 2" class="md-body-1">
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft
                            <span ng-if="result.dass_item_01 = 2" style="color:#4CAF50; font-size:18px;">✓</span>
                        </p>
                        <p ng-click="result.dass_item_01 = 3" class="md-body-1">
                            3: Traf sehr stark auf mich zu oder die meiste Zeit
                            <span ng-if="result.dass_item_01 = 3" style="color:#4CAF50; font-size:18px;">✓</span>
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 2">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">2.) Ich spürte, dass mein Mund trocken war.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_02 = result.dass_item_02 === undefined ? 0 : result.dass_item_02" ng-model="result.dass_item_02" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 3">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">3. Ich konnte überhaupt keine positiven Gefühle mehr erleben.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_03 = result.dass_item_03 === undefined ? 0 : result.dass_item_03" ng-model="result.dass_item_03" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 4">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">4. Ich hatte Atemprobleme (z.B. übermässig schnelles Atmen, Atemlosigkeit ohne körperliche Anstrengung). </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_04 = result.dass_item_04 === undefined ? 0 : result.dass_item_04" ng-model="result.dass_item_04" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 5">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">5. Es fiel mir schwer, mich dazu aufzuraffen, Dinge zu erledigen.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_05 = result.dass_item_05 === undefined ? 0 : result.dass_item_05" ng-model="result.dass_item_05" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 6">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">6. Ich tendierte dazu, auf Situationen überzureagieren. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_06 = result.dass_item_06 === undefined ? 0 : result.dass_item_06" ng-model="result.dass_item_06" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 7">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">7. Ich zitterte (z.B. an den Händen). </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_07 = result.dass_item_07 === undefined ? 0 : result.dass_item_07" ng-model="result.dass_item_07" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 8">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">8. Ich fand alles anstrengend.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_08 = result.dass_item_08 === undefined ? 0 : result.dass_item_08" ng-model="result.dass_item_08" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 9">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">9. Ich machte mir Sorgen über Situationen, in denen ich in Panik geraten und mich lächerlich machen könnte.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_09 = result.dass_item_09 === undefined ? 0 : result.dass_item_09" ng-model="result.dass_item_09" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 10">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">10.  Ich hatte das Gefühl, dass ich mich auf nichts mehr freuen konnte.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_10 = result.dass_item_10 === undefined ? 0 : result.dass_item_10" ng-model="result.dass_item_10" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 11">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">11. Ich bemerkte, dass ich mich schnell aufregte. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_11 = result.dass_item_11 === undefined ? 0 : result.dass_item_11" ng-model="result.dass_item_11" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 12">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">12. Ich fand es schwierig, mich zu entspannen.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_12 = result.dass_item_12 === undefined ? 0 : result.dass_item_12" ng-model="result.dass_item_12" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 13">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">13. Ich fühlte mich niedergeschlagen und traurig.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_13 = result.dass_item_13 === undefined ? 0 : result.dass_item_13" ng-model="result.dass_item_13" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 14">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">14. Ich reagierte ungehalten auf alles, was mich davon abhielt, meine momentane Tätigkeit fortzuführen. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_14 = result.dass_item_14 === undefined ? 0 : result.dass_item_14" ng-model="result.dass_item_14" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 15">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">15. Ich fühlte mich einer Panik nahe.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_15 = result.dass_item_15 === undefined ? 0 : result.dass_item_15" ng-model="result.dass_item_15" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 16">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">16. Ich war nicht in der Lage, mich für irgendetwas zu begeistern.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_16 = result.dass_item_16 === undefined ? 0 : result.dass_item_16" ng-model="result.dass_item_16" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 17">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">17. Ich fühlte mich als Person nicht viel wert.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_17 = result.dass_item_17 === undefined ? 0 : result.dass_item_17" ng-model="result.dass_item_17" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 18">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">18. Ich fand mich ziemlich empfindlich.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_18 = result.dass_item_18 === undefined ? 0 : result.dass_item_18" ng-model="result.dass_item_18" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 19">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">19.  Ich habe meinen Herzschlag gespürt, ohne dass ich mich körperlich angestrengt hatte (z.B. Gefühl von Herzrasen oder Herzstolpern).</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_19 = result.dass_item_19 === undefined ? 0 : result.dass_item_19" ng-model="result.dass_item_19" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 20">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">20. Ich fühlte mich grundlos ängstlich. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_20 = result.dass_item_20 === undefined ? 0 : result.dass_item_20" ng-model="result.dass_item_20" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <p class="md-caption">{{result.current_item}} von 21 &nbsp;&nbsp;</p>
                        <md-button ng-click="result.current_item = result.current_item - 1">Zurück</md-button>
                        <md-button ng-click="result.current_item = result.current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="result.current_item === 21">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">21. Ich empfand das Leben als sinnlos.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-init="result.dass_item_21 = result.dass_item_21 === undefined ? 0 : result.dass_item_21" ng-model="result.dass_item_21" step="1" min="0" max="3" aria-label="DASS_Item{{result.current_item}}">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="saveresult()">Speichern</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div ng-show="thankyou">
                <h1 class="md-display-4">Herzlichen Dank</h1>
                <span class="md-subhead" style="margin-top:-48px;">
                Ihre Eingabe wurde erfolgreich gespeichert! Sie können nun dieses Fenster schliessen.
                </span>
            </div>
        </div>
    </md-content>
</div>
