<div ng-init="current_item = 0">
    <md-content class="md-padding" layout="row" layout-wrap="" layout-align="center start">
        <div flex="50" layout="column">
            <div ng-hide="thankyou">
                <md-card ng-if="current_item == 0">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-display-1" style="color:#3F51B5">Die Depressions-Angst-Stress-Skalen (DASS)</span>
                            <span class="md-subhead" style="color:#9E9E9E">Screening auf Depressivität, Angst und Stress.</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p class="md-body-1">Bitte lesen Sie jede Aussage aufmerksam durch. Beurteilen Sie, wie sehr die Aussage während <b>der letzten Woche</b> auf Sie zutraf. Es gibt keine richtigen oder falschen Antworten. Versuchen Sie, sich spontan für eine Antwort zu entscheiden. {{current_item}} </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == '1'">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">{{current_item}}.) Ich fand es schwer, mich zu beruhigen.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_01" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">({{current_item}}) Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item > 1">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">2.) Ich spürte, dass mein Mund trocken war.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_02" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 3">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">3. Ich konnte überhaupt keine positiven Gefühle mehr erleben.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_03" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 4">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">4. Ich hatte Atemprobleme (z.B. übermässig schnelles Atmen, Atemlosigkeit ohne körperliche Anstrengung). </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_04" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 5">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">5. Es fiel mir schwer, mich dazu aufzuraffen, Dinge zu erledigen.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_05" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 6">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">6. Ich tendierte dazu, auf Situationen überzureagieren. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_06" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 7">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">7. Ich zitterte (z.B. an den Händen). </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_07" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 8">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">8. Ich fand alles anstrengend.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_08" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 9">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">9. Ich machte mir Sorgen über Situationen, in denen ich in Panik geraten und mich lächerlich machen könnte.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_09" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 10">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">10.  Ich hatte das Gefühl, dass ich mich auf nichts mehr freuen konnte.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_10" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 11">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">11. Ich bemerkte, dass ich mich schnell aufregte. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_11" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 12">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">12. Ich fand es schwierig, mich zu entspannen.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_12" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 13">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">13. Ich fühlte mich niedergeschlagen und traurig.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_13" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 14">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">14. Ich reagierte ungehalten auf alles, was mich davon abhielt, meine momentane Tätigkeit fortzuführen. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_14" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 15">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">15. Ich fühlte mich einer Panik nahe.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_15" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 16">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">16. Ich war nicht in der Lage, mich für irgendetwas zu begeistern.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_16" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 17">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">17. Ich fühlte mich als Person nicht viel wert.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_17" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 18">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">18. Ich fand mich ziemlich empfindlich.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_18" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 19">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">19.  Ich habe meinen Herzschlag gespürt, ohne dass ich mich körperlich angestrengt hatte (z.B. Gefühl von Herzrasen oder Herzstolpern).</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_19" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 20">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">20. Ich fühlte mich grundlos ängstlich. </span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_20" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="current_item = current_item + 1">Weiter</md-button>
                    </md-card-actions>
                </md-card>
                <md-card ng-if="current_item == 21">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="color:#3F51B5">21. Ich empfand das Leben als sinnlos.</span>
                            <span class="md-subhead" style="color:#9E9E9E">Wie sehr traf diese Aussage während der letzten Woche auf Sie zu? Bitte beantworten Sie spontan.</span>
                            <md-slider flex class="md-primary" md-discrete ng-model="result.dass_item_21" step="1" min="0" max="10" aria-label="DASS_Item">
                            </md-slider>
                            <span class="md-caption">
                            0: Traf gar nicht auf mich zu<br>
                            1: Traf bis zu einem gewissen Grad auf mich zu oder manchmal<br>
                            2: Traf in beträchtlichem Masse auf mich zu oder ziemlich oft<br>
                            3: Traf sehr stark auf mich zu oder die meiste Zeit<br>
                        </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="saveresult()">Speichern</md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <div ng-show="thankyou">
                <h1 class="md-display-4">Herzlichen Dank</h1>
                <span class="md-subhead" style="margin-top:-48px;">
                Ihre Eingabe wurde erfolgreich gespeichert! Sie können nun dieses Fenster schliessen.
                </span>
            </div>
        </div>
    </md-content>
</div>
