include(../lib/html/optinomic/page/start.m4)
<h3 class="md-headline">Verordnung</h3>
<div ng-if="d.appState === 'show'">
    include(templates/medication_table.html)
</div>
<div ng-if="d.appState === 'show_detail'">
    include(templates/medication_detail.html)
</div>
<div ng-if="d.appState === 'edit'">
    include(templates/medication_edit.html)
</div>
<div ng-if="d.appState === 'new'">
    include(templates/medication_edit.html)
</div>
<div ng-if="d.appState === 'settings'">
    include(templates/medication_settings.html)
</div>
include(../lib/html/optinomic/page/end.m4)
