<md-content class="md-padding">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline ">
                    {{d.medication_detail.medication_name}}
                </span>
                <span class="md-subhead " style="margin-top: -12px; color:#757575;">
                {{d.dataMain.patient.patient.data.extras.name}} ({{d.dataMain.patient.patient.data.extras.birthday_age}})
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <p class="md-caption">&nbsp;</p>
            <div layout="row" layout-gt-xs="row" layout-align="start start" layout-margin layout-padding>
                <div>
                    <p class="md-caption">Medikament</p>
                    <p class="flow-text">{{d.medication_detail.medication_name}}</p>
                </div>
                <div flex="25">
                    <p class="md-caption">Dosierung</p>
                    <div layout="row" layout-gt-xs="row" layout-align="start center">
                        <p class="flow-text">{{d.medication_detail.medication_dosierung_mo}}</p>
                        <p style="color:#9E9E9E"> &nbsp;&nbsp;-&nbsp;&nbsp; </p>
                        <p class="flow-text">{{d.medication_detail.medication_dosierung_mi}}</p>
                        <p style="color:#9E9E9E"> &nbsp;&nbsp;-&nbsp;&nbsp; </p>
                        <p class="flow-text">{{d.medication_detail.medication_dosierung_ab}}</p>
                        <p style="color:#9E9E9E"> &nbsp;&nbsp;-&nbsp;&nbsp; </p>
                        <p class="flow-text">{{d.medication_detail.medication_dosierung_na}}</p>
                    </div>
                </div>
                <div flex>
                    <p class="md-caption">Informationen</p>
                    <md-button class="md-primary" ng-href="{{d.medication_detail.url_compendium}}" target="_blank">compendium.ch</md-button>
                    <md-button class="md-primary" ng-href="{{d.medication_detail.url_open_drug_db}}" target="_blank">oddb.org</md-button>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
            <md-button class="md-icon-button" ng-click="showConfirm($event, d.medication_detail.uniqueid) " aria-label="Löschen" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-delete"></i>
            </md-button>
            <md-button ng-click="entryEdit()" aria-label="Speichern" style="color: #3F51B5;">
                <i class="md-title mdi mdi-content-save"></i> Bearbeiten
            </md-button>
            <span flex>&nbsp;</span>
            <md-button ng-click="entryCancel()" aria-label="Cancel" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-close-circle-outline"></i> Zurück
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
