include(../lib/html/optinomic/page/start.m4)
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{d.app.sections[0].name}}">
        <md-content class="md-padding">
            <p>{{d.app.selected_section.id}}</p>
            <p>{{d.app.selected_section.name}}</p>
            <h3 class="md-headline">Verordnung</h3>
            <div ng-if="d.appState === 'show'">
                include(templates/medication_table.html)
            </div>
            <div ng-if="d.appState === 'edit'">
                include(templates/medication_edit.html)
            </div>
            <div ng-if="d.appState === 'new'">
                include(templates/medication_edit.html)
            </div>
        </md-content>
    </md-tab>
    <md-tab label="{{d.app.sections[1].name}}">
        <md-content class="md-padding">
            {{d.app.selected_section = d.app.sections[1], ""}}
            <p>{{d.app.selected_section.id}}</p>
            <p>{{d.app.selected_section.name}}</p>
        </md-content>
    </md-tab>
    <md-tab label="{{d.app.sections[2].name}}">
        <md-content class="md-padding">
            {{d.app.selected_section = d.app.sections[2], ""}}
            <p>{{d.app.selected_section.id}}</p>
            <p>{{d.app.selected_section.name}}</p>
        </md-content>
    </md-tab>
</md-tabs>
include(../lib/html/optinomic/page/end.m4)
