include(../lib/html/optinomic/page/start.m4)
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="{{d.app.sections[0].name}}">
        <md-content class="md-padding">
            {{d.app.selected_section = d.app.sections[0]; ""}}
            <h3 class="md-headline">{{d.app.selected_section.name}}</h3>
            <div ng-if="d.appState === 'show'">
                include(../lib/html/optinomic/templates/data_table.html)
            </div>
            <div ng-if="d.appState === 'edit'">
                include(templates/medication_edit.html)
            </div>
            <div ng-if="d.appState === 'new'">
                include(templates/medication_edit.html)
            </div>
        </md-content>
    </md-tab>
    <md-tab label="{{d.app.sections[1].name}}">
        <md-content class="md-padding">
            {{d.app.selected_section = d.app.sections[1]; ""}}
            <h3 class="md-headline">{{d.app.selected_section.name}}</h3>
            <div ng-if="d.appState === 'show'">
                include(../lib/html/optinomic/templates/data_table.html)
            </div>
        </md-content>
    </md-tab>
    <md-tab label="{{d.app.sections[2].name}}">
        <md-content class="md-padding">
            {{d.app.selected_section = d.app.sections[2]; ""}}
            <h3 class="md-headline">{{d.app.selected_section.name}}</h3>
            <div ng-if="d.appState === 'show'">
                include(../lib/html/optinomic/templates/data_table.html)
            </div>
        </md-content>
    </md-tab>
</md-tabs>
include(../lib/html/optinomic/page/end.m4)
