<head>
    <script src="https://cdn.vaadin.com/vaadin-elements/latest/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="https://cdn.vaadin.com/vaadin-core-elements/latest/vaadin-grid/vaadin-grid.html">
</head>
include(../lib/html/optinomic/page/start.m4)
<div layout="row" layout-gt-xs="row" layout-sm="row" layout-align="start stretch">
    <div hide-sm>
        <h3 class="md-headline">{{d.dataMain.apps.current.name}}</h3>
    </div>
    <div flex>
        <p>Grid</p>
        <vaadin-grid style="height: 300px;">
            <table>
                <colgroup>
                    <col name="d.medication.medication_name">
                        <col name="d.medication.medication_dosierung_mo">
                            <col name="d.medication.medication_dosierung_mi">
                                <col name="d.medication.medication_dosierung_ab">
                                    <col name="d.medication.medication_dosierung_na">
                </colgroup>
            </table>
        </vaadin-grid>
        <pre>
            {{d.medication}}
        </pre>
    </div>
</div>
include(../lib/html/optinomic/page/end.m4)
