<md-content class="md-padding">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline ">
                    {{d.dataMain.patient.patient.data.extras.name}} ({{d.dataMain.patient.patient.data.extras.birthday_age}})
                {{d.appInit.querySearch(d.appInit.searchText).length}}
                </span>
                <span class="md-subhead " style="margin-top: -12px; color:#757575;">
                <span ng-if="d.appState === 'edit'" class="md-subhead">Medikament bearbeiten</span>
                <span ng-if="d.appState === 'new'" class="md-subhead">Medikament hinzufügen</span>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-if="d.loadedMedicationData">
            <div>
                <p>&nbsp;</p>
                <md-autocomplete ng-disabled="d.appInit.isDisabled" md-no-cache="d.appInit.noCache" md-selected-item="d.appInit.selectedItem" md-search-text-change="d.appInit.searchTextChange(d.appInit.searchText)" md-search-text="d.appInit.searchText" md-selected-item-change="d.appInit.selectedItemChange(item)" md-items="item in d.appInit.querySearch(d.appInit.searchText)" md-autofocus="d.appInit.autofocus" md-item-text="item.medi_name" md-min-length="2" md-delay="800" placeholder="Selektieren Sie ein Medikament">
                    <md-item-template>
                        <span md-highlight-text="d.appInit.searchText" md-highlight-flags="^i">
                    - {{item.medi_name}}
                    </span>
                    </md-item-template>
                    <md-not-found>
                        <div ng-init="d.appInit.medi_not_found = true">
                            {{d.appInit.medi_not_found}} Das Medikament "{{d.appInit.searchText}}" ist nicht im Standardkatalog vorhanden.
                        </div>
                    </md-not-found>
                </md-autocomplete>
            </div>
        </md-card-content>
        <md-card-content>
            <p style="text-align:right; height:10px !important; color:#F5F5F5;">{{d.appInit.selectedItem.medi_code}}</p>
        </md-card-content>
        <md-divider ng-if="d.appInit.medi_not_found"></md-divider>
        <md-card-content ng-if="d.appInit.medi_not_found">
            <p>&nbsp;</p>
            <md-button ng-if="d.newEntry.medication_selected" ng-click="entrySave()" aria-label="Speichern" style="color: #3F51B5;">
                <i class="md-title mdi mdi-content-save"></i> {{d.appInit.searchText}} als "kein Standardmedikament" erfassen.
            </md-button>
        </md-card-content>
        <md-divider ng-if="d.newEntry.medication_selected"></md-divider>
        <md-card-content ng-if="d.newEntry.medication_selected">
            <p>&nbsp;</p>
            <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
                <md-input-container flex class="md-block flow-text">
                    <label>Medikament</label>
                    <textarea ng-model="d.newEntry.medi_name" columns="1" rows="10"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
        <md-divider ng-if="d.appInit.debug"></md-divider>
        <md-card-content ng-if="d.appInit.debug">
            <h3 class="md-subhead">Debugging:</h3>
            <pre>
                {{d.newEntry | json}}
            </pre>
        </md-card-content>
        <md-card-content ng-if="!d.loadedMedicationData">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            <p class="md-caption">&nbsp;Medikamentenkatalog</p>
        </md-card-content>
        <md-card-actions ng-if="d.loadedMedicationData" layout-gt-xs="row" layout-align="start center">
            <md-button class="md-icon-button" ng-click="d.appInit.debug = !d.appInit.debug" aria-label="Debugging" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-bug"></i>
            </md-button>
            <md-button ng-click="entryCancel()" aria-label="Cancel" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-close-circle-outline"></i> Abbrechen
            </md-button>
            <span flex>&nbsp;</span>
            <md-button ng-if="d.newEntry.medication_selected" ng-click="entrySave()" aria-label="Speichern" style="color: #3F51B5;">
                <i class="md-title mdi mdi-content-save"></i> Speichern
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
