<md-content class="md-padding">
    <div ng-repeat="entry in d.medication | orderBy:d.appInit.sortStr | filter:d.appInit.filter">
        <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
            <div>
                <a target="_blank" ng-href="{{entry.url_compendium}}">
                    <p class="flow-text"><span class="small" style="color:#9E9E9E">-</span> {{entry.medication_name}}</p>
                </a>
            </div>
            <div>
                <div layout="row" layout-gt-xs="row" layout-align="space-between center" layout-margin>
                    <p class="flow-text">{{entry.medication_dosierung_mo}}</p>
                    <p class="small" style="color:#9E9E9E">-</p>
                    <p class="flow-text">{{entry.medication_dosierung_mi}}</p>
                    <p class="small" style="color:#9E9E9E">-</p>
                    <p class="flow-text">{{entry.medication_dosierung_ab}}</p>
                    <p class="small" style="color:#9E9E9E">-</p>
                    <p class="flow-text">{{entry.medication_dosierung_na}}</p>
                </div>
            </div>
            <span flex> &nbsp;</span>
            <div flex="15">
                <md-button class="md-icon-button " ng-click="showConfirm($event, entry.uniqueid) " aria-label="Löschen " style="color: #9E9E9E; ">
                    <i class="md-title mdi mdi-delete "></i>
                    <md-tooltip md-direction="bottom">
                        Medikament löschen
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="entryEdit(entry.uniqueid)" aria-label="Bearbeiten" style="color: #3F51B5;">
                    <i class="md-title mdi mdi-pencil"></i>
                    <md-tooltip md-direction="bottom">
                        Medikament bearbeiten
                    </md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
</md-content>
