<md-content class="md-padding">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline ">
                    {{d.dataMain.patient.patient.data.extras.name}} ({{d.dataMain.patient.patient.data.extras.birthday_age}})
                </span>
                <span class="md-subhead " style="margin-top: -12px; color:#757575;">
                <span ng-if="d.appState === 'edit'" class="md-subhead">Anwendung Reserve - bearbeiten</span>
                <span ng-if="d.appState === 'new'" class="md-subhead">Anwendung Reserve - hinzufügen</span>
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-if="(d.loadedMedicationData) && (d.appState === 'new')">
            <div>
                <p>&nbsp;</p>
                <md-autocomplete ng-disabled="d.appInit.isDisabled" md-no-cache="d.appInit.noCache" md-selected-item="d.appInit.selectedItem" md-search-text-change="d.appInit.searchTextChange(d.appInit.searchText)" md-search-text="d.appInit.searchText" md-selected-item-change="d.appInit.selectedItemChange(item)" md-items="item in d.appInit.querySearch(d.appInit.searchText)" md-autofocus="d.appInit.autofocus" md-item-text="item.medi_name" md-min-length="2" md-delay="800" placeholder="Selektieren Sie ein Medikament">
                    <md-item-template>
                        <span md-highlight-text="d.appInit.searchText" md-highlight-flags="^i">
                        - {{item.medi_name}} | {{item.medi_code}}
                        </span>
                    </md-item-template>
                    <md-not-found>
                        Das Medikament "{{d.appInit.searchText}}" ist nicht im Standardkatalog vorhanden.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </md-card-content>
        <md-card-content ng-if="d.appState === 'new'">
            <p style="text-align:right; height:10px !important; color:#F5F5F5;">{{d.appInit.selectedItem.medi_code}}</p>
            <md-divider ng-if="d.appInit.querySearch(d.appInit.searchText).length === 0"></md-divider>
        </md-card-content>
        <div ng-if="d.loadedMedicationData && (d.appState === 'new')">
            <md-card-content ng-if="d.appInit.querySearch(d.appInit.searchText).length === 0">
                <p class="md-subhead">Kein Standardmedikament</p>
                <md-button ng-click="entryNotDefaultMedication(d.appInit.searchText)" aria-label="Kein Standardmedikament" style="color: #3F51B5;">
                    <i class="md-title mdi mdi-playlist-plus"></i> »{{d.appInit.searchText}}« erfassen
                </md-button>
            </md-card-content>
            <md-divider ng-if="d.appInit.querySearch(d.appInit.searchText).length === 0"></md-divider>
        </div>
        <md-divider ng-if="d.newEntry.medication_selected && (d.appState === 'new')"></md-divider>
        <md-card-content ng-if="d.newEntry.medication_selected">
            <p class="md-caption">&nbsp;</p>
            <div layout="row" layout-gt-xs="row" layout-align="start start" layout-margin>
                <div flex>
                    <md-input-container class="md-block flow-text">
                        <label>Medikament</label>
                        <input ng-model="d.newEntry.medication_name">
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
        <md-divider ng-if="d.newEntry.medication_selected"></md-divider>
        <md-card-content ng-if="d.newEntry.medication_selected">
            <div layout="row" layout-gt-xs="row" layout-align="space-between center" layout-margin>
                <p class="md-subhead">Dosierung (max./24h)</p>
                <p class="md-caption" style="color:#9E9E9E">{{d.newEntry.medication_name}}</p>
            </div>
            <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
                <div>
                    <md-switch ng-model="d.newEntry.medication_verordnet" aria-label="Reserve" class="md-warn">
                        Ist diese Reserve verordnet?
                    </md-switch>
                </div>
                <div flex="60">
                    <md-input-container flex class="md-block">
                        <label>Beschwerden</label>
                        <input name="Beschwerden" ng-model="d.newEntry.medication_beschwerden">
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-gt-xs="row" layout-align="start start" layout-margin>
                <md-input-container flex class="md-block">
                    <label>Bemerkungen</label>
                    <textarea ng-model="d.newEntry.medication_bemerkungen" columns="1" rows="10"></textarea>
                </md-input-container>
                <div flex="20">
                    <md-button class="md-primary" ng-href="{{d.newEntry.url_compendium}}" target="_blank">compendium.ch</md-button>
                    <md-button class="md-primary" ng-href="{{d.newEntry.url_open_drug_db}}" target="_blank">oddb.org</md-button>
                </div>
            </div>
        </md-card-content>
        <md-divider ng-if="d.appInit.debug"></md-divider>
        <md-card-content ng-if="d.appInit.debug">
            <h3 class="md-subhead">Debugging:</h3>
            <pre>
                {{d.newEntry | json}}
            </pre>
        </md-card-content>
        <md-card-content ng-if="!d.loadedMedicationData">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            <p class="md-caption">Medikamenten-Katalog</p>
        </md-card-content>
        <md-divider ng-if="d.newEntry.medication_selected"></md-divider>
        <md-card-actions ng-if="d.loadedMedicationData" layout-xs="row" layout-gt-xs="row" layout-align="start center">
            <md-button ng-if="d.dataMain.users.current.data.role === 'Admin'" hide-xs class="md-icon-button" ng-click="d.appInit.debug = !d.appInit.debug" aria-label="Debugging" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-bug"></i>
            </md-button>
            <md-button ng-click="entryCancel()" aria-label="Cancel" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-close-circle-outline"></i> Abbrechen
            </md-button>
            <span flex>&nbsp;</span>
            <md-button ng-if="d.newEntry.medication_selected" ng-click="entrySave('Abgabe')" aria-label="Speichern" style="color: #3F51B5;">
                <i class="md-title mdi mdi-content-save"></i> Speichern
            </md-button>
        </md-card-actions>
    </md-card>
</md-content>
