__opapp_include(../lib/html/optinomic/page/start.m4)
<md-content class="md-padding" ng-init="d.navigator = 0">
    <md-card>
        <md-card-title style="background-color: #424242; color: #FAFAFA">
            <md-card-title-text>
                <span class="md-headline">
                    {{d.dataMain.apps.current.name}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout-margin>
            <p>&nbsp;</p>
            <h3 class="md-subhead">Schlaftagebuch</h3>
            <p class="md-body-1">In Entwicklung</p>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout-gt-xs="row" layout-align="start center">
        </md-card-actions>
    </md-card>
</md-content>
__opapp_include(../lib/html/optinomic/page/end.m4)
