<md-card>
    <md-card-title style="background-color: #424242; color: #FAFAFA">
        <md-card-title-text>
            <span class="md-headline ">
                	{{d.dataMain.patient.patient.data.extras.name}} ({{d.dataMain.patient.patient.data.extras.birthday_age}})
            </span>
            <span class="md-subhead " style="margin-top: -12px; color:#757575;">
            <span ng-if="d.appState === 'edit'" class="md-subhead">Verlaufseintrag bearbeiten</span>
            <span ng-if="d.appState === 'new'" class="md-subhead">Neuer Verlaufseintrag erstellen</span>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div style="margin-top: 24px; max-height: 50px !important;" layout="row" layout-gt-xs="row" layout-align="start start" layout-margin>
            <md-datepicker flex ng-model="d.historyNewEntry.datum" md-placeholder="Bitte geben Sie das Datum an."></md-datepicker>
            <md-input-container flex>
                <label>Dauer (Anzahl 5 Minuten)</label>
                <input ng-model="d.historyNewEntry.dauer" type="number">
            </md-input-container>
            <md-input-container flex>
                <label>Benutzer</label>
                <md-select ng-model="d.historyNewEntry.user" aria-label="Benutzer">
                    <md-option ng-repeat="user in d.dataMain.users.all" value="{{user.id}}">
                        {{user.data.extras.full_name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content>
        <div layout="row" layout-gt-xs="row" layout-align="start center" layout-margin>
            <md-input-container>
                <label>Leistungsgruppe</label>
                <md-select ng-model="d.historyNewEntry.tarmed.kapitel_id" aria-label="TARMED Kapitel">
                    <md-option ng-repeat="kapitel in d.TARMEDkapitel" value="{{$index}}">
                        {{kapitel[0].kapitel_beschreibung}} ({{kapitel[0].kapitel_code}})
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-if="d.historyNewEntry.tarmed.kapitel_id">
                <label>Tarifposition</label>
                <md-select ng-model="d.historyNewEntry.tarmed.selected_tarifpos_code" md-on-close="storeSelectedTARMED()" aria-label="TARMED Tarifpositions">
                    <md-option ng-repeat="tarifpos in d.TARMEDkapitel[d.historyNewEntry.tarmed.kapitel_id]" value="{{tarifpos.tarifpos_code}}">
                        {{tarifpos.tarifpos_beschreibung}} ({{tarifpos.tarifpos_code}})
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button ng-click="entrySettings()" class="md-icon-button" aria-label="Einstellungen" style="color: #9E9E9E;">
                <i class="md-title mdi mdi-dots-vertical"></i>
                <md-tooltip md-direction="bottom">
                    Standards festlegen
                </md-tooltip>
            </md-button>
        </div>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-content>
        <p>&nbsp;</p>
        <div layout-margin>
            <md-input-container flex class="md-block flow-text">
                <label>Verlaufseintrag ( {{d.historyNewEntry.tarmed.selected.tarifpos_beschreibung}} | {{d.historyNewEntry.dauer * 5}} Minuten )</label>
                <textarea ng-model="d.historyNewEntry.verlauf" columns="1" rows="10"></textarea>
            </md-input-container>
        </div>
        <pre ng-if="d.appInit.debug">
		{{d.historyNewEntry | json}}
		</pre>
    </md-card-content>
    <md-card-actions layout-gt-xs="row" layout-align="start center">
        <md-button class="md-icon-button" ng-click="d.appInit.debug = !d.appInit.debug" aria-label="Debugging" style="color: #9E9E9E;">
            <i class="md-title mdi mdi-bug"></i>
        </md-button>
        <md-button ng-click="entryCancel()" aria-label="Cancel" style="color: #9E9E9E;">
            <i class="md-title mdi mdi-close-circle-outline"></i> Abbrechen
        </md-button>
        <span flex>&nbsp;</span>
        <md-button ng-click="entrySave()" aria-label="Speichern" style="color: #3F51B5;">
            <i class="md-title mdi mdi-content-save"></i> Speichern
        </md-button>
    </md-card-actions>
</md-card>
